# Questions

In [2]:
marks = 23
name = 'Harsh'

print('Hi',name,"your marks is",marks)
print(f"Hi {name}, your marks is {marks}")

Hi Harsh your marks is 23
Hi Harsh, your marks is 23

#### Q) Find the Volume of a cylinder

In [6]:
pi = 3.14
r = float(input('Give r '))
h = float(input('Give  '))

vol = (pi*(r**2)*h)
print(f"The Vol of Cylinder is {vol}")

Give r 34
Give  6
The Vol of Cylinder is 21779.04

#### Q) Find Compound Interest

In [9]:
p = float(input('Give p '))
r = float(input('Give r '))
n = float(input('Give n '))
t = float(input('Give t '))

CI = p * (1+r/n)**(n*t)

print(f'The Compound Interest is {CI}')

Give p 1200
Give r 7
Give n 1
Give t 2
The Compound Interest is 76800.0

In [14]:
## Comparison Operator

'''
>
<
>=
<=
!=
=
==

'''

a = 10
b = 12

print(a == b)

False

In [17]:
## Logical Operator

'''
AND
OR
NOT
'''

print((12>b) or (7<=a))

True

# Conditional

In [21]:
age = 2

if age >= 18:
  print('Eligible')
elif age < 18:
  print('H')
else:
  print('Not Eligible')

H

#### Take age from the user

In [ ]:
# [20-100] - Adult
# [13 - 19] - Teenager
# [0 - 12] - Child
# anything else is invalid age

In [27]:
age = int(input('Give age '))

if age >= 20 and age <= 100:
  print('Adult')
elif age >= 13:
  print('Teenager')
elif age >= 0:
  print('Child')
else:
  print('Invalid')

Give age 102
Teenager

In [30]:
if True:
  print('Hi')
  if False:
    print('Hey')
  else:
    print('Hello')
    if False:
      print('Yo')
    else:
      print('H')
  print('A')

Hi
Hello
H

In [31]:
a = 12
b = 10

if (a>10 or a<12):
  if(b>7 or a<2):
    print('H')
    if(b>2 and a > b):
      print('Hey')
    else:
      print('hi')

H
Hey

#### Q) Check if the number is +ve, if +ve check if it is odd or even else write -ve

In [35]:
num = int(input('Give n '))

if num > 0:
  print('The num is +ve')
  if num % 2 == 0:
    print('Even')
  else:
    print('Odd')
else:
  print('-ve')

Give n 23
The num is +ve
Odd

#### Q) Check if the number is divisible by 2 and 5 both

In [ ]:
# [Divisible by 2]
# [Divisible by 5]
# [Divisible by both 2 and 5]
# [Divisible by none]

In [39]:
num = int(input('Give Number '))

if num%2 == 0:
  if num % 5 == 0:
    print('Divisble by both')
  else:
    print('Divisible by 2 and not by 5')

elif num % 5 == 0:
  print('Divisible by 5 not by 2')

else:
  print('Divisible by none')

Give Number 13
Divisible by none