In [ ]:
print("Hello")

Hello

In [ ]:
print(123)

123

In [ ]:
print(type(True))

<class 'bool'>

## Variables

In [ ]:
a = 12

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
_1 = 12
print(_1)

12

In [ ]:
a = 'Harsh'

In [ ]:
print(a)

Harsh

In [ ]:
_a_12 = "harsh"

In [ ]:
name = 'Vikas'
age = 25

# print('Hey',name,"your age is",age)
print(f"Hey {name} your age is {age}")

Hey Vikas your age is 25

In [ ]:
a = 'Hey'
b = 23
print(a, "your age is",b)
print(f"hi how are you {a} your age is {b}")

Hey your age is 23
hi how are you Hey your age is 23

In [ ]:
name = input("Hey, Give me your name ?")
age = input('Hey, Give me your age')

print(f"Hey {name} your age is {age}")

Hey, Give me your name ?hsaod
Hey, Give me your age34
Hey hsaod your age is 34

In [ ]:
## Type Casting

a = 10
print(type(a))
a = str(a)
print(type(a))

<class 'int'>
<class 'str'>

In [ ]:
a = 'harsh'
a = int(a)
print(type(a))

ValueError: invalid literal for int() with base 10: 'harsh'

In [ ]:
## Find Simple Interest

name = input('GIve name ')
p = int(input('Give p '))
r = int(input('Give r '))
t = int(input('Give t '))

SI = (p*r*t)/100


print(f"Hi {name} your SI is {SI}")

GIve name iasd
Give p 2356
Give r 3
Give t 5
Hi iasd your SI is 353.4

In [ ]:
## Find Volume of Cylinder

In [ ]:
## Find Compound Interest

p = int(input('Give p '))
r = int(input('Give r '))
n = int(input('Give n'))
t = int(input('Give t '))

CI = p*((1+r/n))**(n*t)

print(CI)

Give p 34
Give r 3
Give n4
Give t 5
2467401.876964512

In [ ]:
print('Harsh'+str(5))

Harsh5

# Conditional Statements

In [ ]:
age = 12

if age>=18:
  print('Eligible')
else:
  print('NE')

NE

In [ ]:
if True:
  print('Hey')

Hey

In [ ]:
if True and False:
  print('Hey')
else:
  print('Hi')

In [ ]:
if False:
  print('Hi')

In [ ]:
if True and True:
  print('Hi')
  if True and (True or False):
    print('Hello')
    if True:
      print("Yo")
    else:
      print('H')
  else:
    print('1')

Hi
Hello
Yo

In [ ]:
age = 20

if age >= 18:
  print('El')
elif age < 18 and age > 0:
  print('minor')
else:
  print('invalid')

El

In [ ]:
# [18 to 100] -> Eligible
# [13 - 17] -> Minor
# [1 - 12] -> Child
# else -> Invalid age

In [ ]:
age = 11

if age >= 18 and age < 100:
  print('El')
elif age >= 13 and age <= 17:
  print('Minor')
elif age > 1 and age <= 12:
  print('Child')
else:
  print("invalid ")

Child

In [ ]:
age = -1

if age < 0:
  print('Invalid')

elif age < 100:
  if age >= 18:
    print('El')
  elif age >= 13:
    print('Minor')
  elif age >= 0:
    print('Child')

else:
  print('Invalid')

## Find if the number taken from user is odd or even

In [ ]:
num = 12

if num % 2 == 0:
  print('Even')
else:
  print('Odd')

Even

## FInd if a number is +ve or -ve, if it is +ve then tell me if it is odd or even

In [ ]:
num = 45

if num >= 0:
  print('Number is +ve')
  if num % 2 == 0:
    print('Even')
  else:
    print('Odd')
else:
  print('-ve')

Number is +ve
Odd

## Login System

In [ ]:
stored_user = 'Admin12'
stored_pass = 'abc@123#'

us = input('Give username')
pas = input('Give Pass')

if us == stored_user:
  if pas == stored_pass:
    print('Login Successful')
  else:
    print("Incorrect Passward")
else:
  print('Incorrect User')

Give usernamef4
Give Passfd
Incorrect User

## Find if the number is divisible by 3 and 5

## Create Simple Calculator

In [ ]:
num1 = int(input('Give n1 '))
num2 = int(input('Give n2 '))
o = input("Give +,-,/,*")

if o == "+":
  print(num1 + num2)
elif o == '-':
  print(num1 - num2)
elif o == '*':
  print(num1 * num2)
elif o == '/':
  if num2 == 0:
    print("Invalid")
  else:
    print(num1/num2)
else:
  print('Invalid Operator')

Give n1 456
Give n2 0
Give +,-,/,*/
Invalid

## Report Card Generator

In [ ]:
'''
100 - 90 -> a
80 - 89 -> b
70 - 79 -> c
d
fail

'''

In [ ]:
number = int(input("enter the marks"))
if(number<100 and number>=90):
  print("you have secured a grade A")
elif(number<90 and number>=80):
  print("you have secured a grade B")
elif(number<80 and number>=70):
  print("you have secured a grade C")
elif(number<70 and number>=60):
  print("you have secured a grade D")
else:
  print('Fail')

enter the marks33
Fail

In [ ]:
'''
Employee Bonus Calculator

(salary)
(rating)
(yrs of exp)

(5 - 4) ->
# Years of Experince ->
-> > 10 yrs -> 30% Bonus
-> (5 to 10) -> 20% Bonus
-> Less than 5 -> 10% Bonus

(less than 4) ->
# Years of Experince ->
-> > 10 yrs -> 20% Bonus
-> (5 to 10) -> 10% Bonus
-> Less than 5 -> 5% Bonus


(old salary, bonus % and new salary)

'''

In [ ]:
salary = 20000
yrs = 7
rating = 4.2

if rating > 4:
  if yrs > 10:
    b = 30
  elif yrs > 5 and yrs < 10:
    b = 20
  elif yrs < 5:
    b = 10

elif rating < 4:
  if yrs > 10:
    b = 20
  elif yrs > 5 and yrs < 10:
    b = 10
  elif yrs < 5:
    b = 5

new_salary = salary + (b*salary)/100

print(f"Hi your salary was {salary} bonus is {b} new salary is {new_salary}")

Hi your salary was 20000 bonus is 20 new salary is 24000.0

# Loops

In [ ]:
range(5)

range(0, 5)

In [ ]:
range(20)

range(0, 20)

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range(2,12,3):
  print(i)

2
5
8
11

In [ ]:
for i in range(5,55,5):
  print(i)

5
10
15
20
25
30
35
40
45
50

In [ ]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
## Q)

num ->

In [ ]:
num = int(input("GIve number"))

for i in range(10,0,-1):
  print(f"{num} x {i} = {num*i}")

GIve number5
5 x 10 = 50
5 x 9 = 45
5 x 8 = 40
5 x 7 = 35
5 x 6 = 30
5 x 5 = 25
5 x 4 = 20
5 x 3 = 15
5 x 2 = 10
5 x 1 = 5

#### Q) Find the numbers between 1 and 200 that are divisible by 3 and 5

In [ ]:
for i in range(1,201):
  if (i % 3 == 0) and (i % 5 == 0):
    print(i)

15
30
45
60
75
90
105
120
135
150
165
180
195

#### Q) Count the number of values between 1 and 10000 that are divisible by 3, 5 and 7

In [ ]:
count = 0

for i in range(1,10001):
  if (i % 3 == 0) and (i % 5 == 0) and (i % 7 == 0):
    count = count + 1
    # count += 1
print(count)

95

#### Q) FInd the sum of first n natural numbers

In [ ]:
n = 10
sum = 0

for i in range(1,n+1):
  sum = sum + i

print(sum)

55

#### Q) Find the first 10 numbers between 1 and 10000 that are divisible by 3,5 and 7

In [ ]:
count = 0
for i in range(1,10001):
  if (i % 3 == 0) and (i % 5 == 0) and (i % 7 == 0):
    print(i)
    count = count + 1
    if count == 10:
      break

105
210
315
420
525
630
735
840
945
1050

In [ ]:
name = 'Harshvardhan SIngh'

for i in name:
  print(i, end= "-")

H-a-r-s-h-v-a-r-d-h-a-n- -S-I-n-g-h-

#### From a given string tell me the count of vowels used

In [ ]:
s = input("Give sometihing ")
count = 0
for i in s:
  if (i == "a") or (i == 'e') or (i == 'i') or (i == 'o') or (i == 'u'):
    print(i)
    count = count + 1

print(count)

Give sometihing adfsga
a
a
2

In [ ]:
count = 0
s = input("Give sometihing ")
v = 'aeiouAEIOU'

for i in s:
  if i in v:
    count = count + 1

print(count)

Give sometihing fbbbb
0

In [ ]:
a = 0

while a < 11:
  print(a)
  a += 1

0
1
2
3
4
5
6
7
8
9
10

## Q) Find the sum and count of first 20 odd numbers between 1 and 15000

In [ ]:
counter = 0
sum = 0

for i in range(1,15001,2):
  counter += 1
  sum += i

  if counter == 20:
    break

print(f"Count is {counter} and sum is {sum}")

Count is 20 and sum is 400

In [ ]:
## Nested Loops

for i in range(1,7):
  for j in range(1,7):
    for k in range(1,7):
      print(i,j,k)

  print("-"*20)

1 1 1
1 1 2
1 1 3
1 1 4
1 1 5
1 1 6
1 2 1
1 2 2
1 2 3
1 2 4
1 2 5
1 2 6
1 3 1
1 3 2
1 3 3
1 3 4
1 3 5
1 3 6
1 4 1
1 4 2
1 4 3
1 4 4
1 4 5
1 4 6
1 5 1
1 5 2
1 5 3
1 5 4
1 5 5
1 5 6
1 6 1
1 6 2
1 6 3
1 6 4
1 6 5
1 6 6
--------------------
2 1 1
2 1 2
2 1 3
2 1 4
2 1 5
2 1 6
2 2 1
2 2 2
2 2 3
2 2 4
2 2 5
2 2 6
2 3 1
2 3 2
2 3 3
2 3 4
2 3 5
2 3 6
2 4 1
2 4 2
2 4 3
2 4 4
2 4 5
2 4 6
2 5 1
2 5 2
2 5 3
2 5 4
2 5 5
2 5 6
2 6 1
2 6 2
2 6 3
2 6 4
2 6 5
2 6 6
--------------------
3 1 1
3 1 2
3 1 3
3 1 4
3 1 5
3 1 6
3 2 1
3 2 2
3 2 3
3 2 4
3 2 5
3 2 6
3 3 1
3 3 2
3 3 3
3 3 4
3 3 5
3 3 6
3 4 1
3 4 2
3 4 3
3 4 4
3 4 5
3 4 6
3 5 1
3 5 2
3 5 3
3 5 4
3 5 5
3 5 6
3 6 1
3 6 2
3 6 3
3 6 4
3 6 5
3 6 6
--------------------
4 1 1
4 1 2
4 1 3
4 1 4
4 1 5
4 1 6
4 2 1
4 2 2
4 2 3
4 2 4
4 2 5
4 2 6
4 3 1
4 3 2
4 3 3
4 3 4
4 3 5
4 3 6
4 4 1
4 4 2
4 4 3
4 4 4
4 4 5
4 4 6
4 5 1
4 5 2
4 5 3
4 5 4
4 5 5
4 5 6
4 6 1
4 6 2
4 6 3
4 6 4
4 6 5
4 6 6
--------------------
5 1 1
5 1 2
5 1 3
5 1 4
5 1 5
5 1 6
5 2 1
5 2 2
5 2 3
5 2 4
5 2 5
5 2 6
5 3 1
5 3 2
5 3 3
5 3 4
5 3 5
5 3 6
5 4 1
5 4 2
5 4 3
5 4 4
5 4 5
5 4 6
5 5 1
5 5 2
5 5 3
5 5 4
5 5 5
5 5 6
5 6 1
5 6 2
5 6 3
5 6 4
5 6 5
5 6 6
--------------------
6 1 1
6 1 2
6 1 3
6 1 4
6 1 5
6 1 6
6 2 1
6 2 2
6 2 3
6 2 4
6 2 5
6 2 6
6 3 1
6 3 2
6 3 3
6 3 4
6 3 5
6 3 6
6 4 1
6 4 2
6 4 3
6 4 4
6 4 5
6 4 6
6 5 1
6 5 2
6 5 3
6 5 4
6 5 5
6 5 6
6 6 1
6 6 2
6 6 3
6 6 4
6 6 5
6 6 6
--------------------

# Pattern Printing

In [ ]:
'''

*
**
***
****
*****

'''

In [ ]:
num = 10

for i in range(1,num+1):
  print("*"*i)

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
'''

*******
******
*****
****
***
**
*

'''

In [ ]:
for i in range(7,0,-1):
  print("* "*i)

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
'''
num = 5

*****
*****
*****
*****
*****

'''

In [ ]:
num = 6
for i in range(1,num+1):
  print(num*" *")

 * * * * * *
 * * * * * *
 * * * * * *
 * * * * * *
 * * * * * *
 * * * * * *

In [ ]:
'''

num = 5

1
22
333
4444
55555


'''

In [ ]:
num = 5

for i in range(1,num+1):
  print(str(i)*i)

1
22
333
4444
55555

In [ ]:
'''
num = 7


*******
*     *
*     *
*     *
*     *
*     *
*******

'''

In [ ]:
num = 5

print(num * "* ")

for i in range(1,num-1):
  print("*"+ (num-2)*"  "+" *")

print(num * "* ")

* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
'''
Num = 5

*
**
* *
*  *
*****


'''

In [ ]:
num = 10

print("* ")

for i in range(1,num-1):
  print("*"+ "  "*(i-1)+" *")

print(num * "* ")

*
* *
*   *
*     *
*       *
*         *
*           *
*             *
*               *
* * * * * * * * * *

In [ ]:
'''

num = 5


    *
   **
  ***
 ****
*****
*****
 ****
  ***
   **
    *


'''

In [ ]:
num = 7

for i in range(1,num+1):
  print(" "*(num-i)+"*"*i)

for i in range(num,0,-1):
  print(" "*(num-i)+"*"*i)

      *
     **
    ***
   ****
  *****
 ******
*******
*******
 ******
  *****
   ****
    ***
     **
      *

# Data Structures

## List

In [ ]:
lst = []
print(lst)
print(type(lst))

[]
<class 'list'>

In [ ]:
roll_number = [1,2,3,4,5,6,7]
print(roll_number)
physics_marks = [24,65,65,74,35,78,45]

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
lst[2] = 'Amit'

In [ ]:
print(lst)

[12, 45.57, 'Amit', True]

In [ ]:
lst = [12,45.57,"Harsh",True]
print(lst)

[12, 45.57, 'Harsh', True]

In [ ]:
print(lst[-6])

IndexError: list index out of range

In [ ]:
print(lst)

[12, 45.57, 'Harsh', True]

In [ ]:
lst.append(467)
print(lst)

[12, 45.57, 'Harsh', True, 467, 467, 467]

In [ ]:
lst = []

for i in range(1,6):
  lst.append(i)

print(lst)

[1, 2, 3, 4, 5]

### Q) In a list store the first 1000 natural numbers

In [ ]:
lst = []

for i in range(1,1001):
  lst.append(i)

print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000]

### Q) In a list store the square of the first 1000 natural numbers

In [ ]:
lst = []

for i in range(1,1001):
  lst.append(i**2)

print(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000, 10201, 10404, 10609, 10816, 11025, 11236, 11449, 11664, 11881, 12100, 12321, 12544, 12769, 12996, 13225, 13456, 13689, 13924, 14161, 14400, 14641, 14884, 15129, 15376, 15625, 15876, 16129, 16384, 16641, 16900, 17161, 17424, 17689, 17956, 18225, 18496, 18769, 19044, 19321, 19600, 19881, 20164, 20449, 20736, 21025, 21316, 21609, 21904, 22201, 22500, 22801, 23104, 23409, 23716, 24025, 24336, 24649, 24964, 25281, 25600, 25921, 26244, 26569, 26896, 27225, 27556, 27889, 28224, 28561, 28900, 29241, 29584, 29929, 30276, 30625, 30976, 31329, 31684, 32041, 32400, 32761, 33124, 33489, 33856, 34225, 34596, 34969, 35344, 35721, 36100, 36481, 36864, 37249, 37636, 38025, 38416, 38809, 39204, 39601, 40000, 40401, 40804, 41209, 41616, 42025, 42436, 42849, 43264, 43681, 44100, 44521, 44944, 45369, 45796, 46225, 46656, 47089, 47524, 47961, 48400, 48841, 49284, 49729, 50176, 50625, 51076, 51529, 51984, 52441, 52900, 53361, 53824, 54289, 54756, 55225, 55696, 56169, 56644, 57121, 57600, 58081, 58564, 59049, 59536, 60025, 60516, 61009, 61504, 62001, 62500, 63001, 63504, 64009, 64516, 65025, 65536, 66049, 66564, 67081, 67600, 68121, 68644, 69169, 69696, 70225, 70756, 71289, 71824, 72361, 72900, 73441, 73984, 74529, 75076, 75625, 76176, 76729, 77284, 77841, 78400, 78961, 79524, 80089, 80656, 81225, 81796, 82369, 82944, 83521, 84100, 84681, 85264, 85849, 86436, 87025, 87616, 88209, 88804, 89401, 90000, 90601, 91204, 91809, 92416, 93025, 93636, 94249, 94864, 95481, 96100, 96721, 97344, 97969, 98596, 99225, 99856, 100489, 101124, 101761, 102400, 103041, 103684, 104329, 104976, 105625, 106276, 106929, 107584, 108241, 108900, 109561, 110224, 110889, 111556, 112225, 112896, 113569, 114244, 114921, 115600, 116281, 116964, 117649, 118336, 119025, 119716, 120409, 121104, 121801, 122500, 123201, 123904, 124609, 125316, 126025, 126736, 127449, 128164, 128881, 129600, 130321, 131044, 131769, 132496, 133225, 133956, 134689, 135424, 136161, 136900, 137641, 138384, 139129, 139876, 140625, 141376, 142129, 142884, 143641, 144400, 145161, 145924, 146689, 147456, 148225, 148996, 149769, 150544, 151321, 152100, 152881, 153664, 154449, 155236, 156025, 156816, 157609, 158404, 159201, 160000, 160801, 161604, 162409, 163216, 164025, 164836, 165649, 166464, 167281, 168100, 168921, 169744, 170569, 171396, 172225, 173056, 173889, 174724, 175561, 176400, 177241, 178084, 178929, 179776, 180625, 181476, 182329, 183184, 184041, 184900, 185761, 186624, 187489, 188356, 189225, 190096, 190969, 191844, 192721, 193600, 194481, 195364, 196249, 197136, 198025, 198916, 199809, 200704, 201601, 202500, 203401, 204304, 205209, 206116, 207025, 207936, 208849, 209764, 210681, 211600, 212521, 213444, 214369, 215296, 216225, 217156, 218089, 219024, 219961, 220900, 221841, 222784, 223729, 224676, 225625, 226576, 227529, 228484, 229441, 230400, 231361, 232324, 233289, 234256, 235225, 236196, 237169, 238144, 239121, 240100, 241081, 242064, 243049, 244036, 245025, 246016, 247009, 248004, 249001, 250000, 251001, 252004, 253009, 254016, 255025, 256036, 257049, 258064, 259081, 260100, 261121, 262144, 263169, 264196, 265225, 266256, 267289, 268324, 269361, 270400, 271441, 272484, 273529, 274576, 275625, 276676, 277729, 278784, 279841, 280900, 281961, 283024, 284089, 285156, 286225, 287296, 288369, 289444, 290521, 291600, 292681, 293764, 294849, 295936, 297025, 298116, 299209, 300304, 301401, 302500, 303601, 304704, 305809, 306916, 308025, 309136, 310249, 311364, 312481, 313600, 314721, 315844, 316969, 318096, 319225, 320356, 321489, 322624, 323761, 324900, 326041, 327184, 328329, 329476, 330625, 331776, 332929, 334084, 335241, 336400, 337561, 338724, 339889, 341056, 342225, 343396, 344569, 345744, 346921, 348100, 349281, 350464, 351649, 352836, 354025, 355216, 356409, 357604, 358801, 360000, 361201, 362404, 363609, 364816, 366025, 367236, 368449, 369664, 370881, 372100, 373321, 374544, 375769, 376996, 378225, 379456, 380689, 381924, 383161, 384400, 385641, 386884, 388129, 389376, 390625, 391876, 393129, 394384, 395641, 396900, 398161, 399424, 400689, 401956, 403225, 404496, 405769, 407044, 408321, 409600, 410881, 412164, 413449, 414736, 416025, 417316, 418609, 419904, 421201, 422500, 423801, 425104, 426409, 427716, 429025, 430336, 431649, 432964, 434281, 435600, 436921, 438244, 439569, 440896, 442225, 443556, 444889, 446224, 447561, 448900, 450241, 451584, 452929, 454276, 455625, 456976, 458329, 459684, 461041, 462400, 463761, 465124, 466489, 467856, 469225, 470596, 471969, 473344, 474721, 476100, 477481, 478864, 480249, 481636, 483025, 484416, 485809, 487204, 488601, 490000, 491401, 492804, 494209, 495616, 497025, 498436, 499849, 501264, 502681, 504100, 505521, 506944, 508369, 509796, 511225, 512656, 514089, 515524, 516961, 518400, 519841, 521284, 522729, 524176, 525625, 527076, 528529, 529984, 531441, 532900, 534361, 535824, 537289, 538756, 540225, 541696, 543169, 544644, 546121, 547600, 549081, 550564, 552049, 553536, 555025, 556516, 558009, 559504, 561001, 562500, 564001, 565504, 567009, 568516, 570025, 571536, 573049, 574564, 576081, 577600, 579121, 580644, 582169, 583696, 585225, 586756, 588289, 589824, 591361, 592900, 594441, 595984, 597529, 599076, 600625, 602176, 603729, 605284, 606841, 608400, 609961, 611524, 613089, 614656, 616225, 617796, 619369, 620944, 622521, 624100, 625681, 627264, 628849, 630436, 632025, 633616, 635209, 636804, 638401, 640000, 641601, 643204, 644809, 646416, 648025, 649636, 651249, 652864, 654481, 656100, 657721, 659344, 660969, 662596, 664225, 665856, 667489, 669124, 670761, 672400, 674041, 675684, 677329, 678976, 680625, 682276, 683929, 685584, 687241, 688900, 690561, 692224, 693889, 695556, 697225, 698896, 700569, 702244, 703921, 705600, 707281, 708964, 710649, 712336, 714025, 715716, 717409, 719104, 720801, 722500, 724201, 725904, 727609, 729316, 731025, 732736, 734449, 736164, 737881, 739600, 741321, 743044, 744769, 746496, 748225, 749956, 751689, 753424, 755161, 756900, 758641, 760384, 762129, 763876, 765625, 767376, 769129, 770884, 772641, 774400, 776161, 777924, 779689, 781456, 783225, 784996, 786769, 788544, 790321, 792100, 793881, 795664, 797449, 799236, 801025, 802816, 804609, 806404, 808201, 810000, 811801, 813604, 815409, 817216, 819025, 820836, 822649, 824464, 826281, 828100, 829921, 831744, 833569, 835396, 837225, 839056, 840889, 842724, 844561, 846400, 848241, 850084, 851929, 853776, 855625, 857476, 859329, 861184, 863041, 864900, 866761, 868624, 870489, 872356, 874225, 876096, 877969, 879844, 881721, 883600, 885481, 887364, 889249, 891136, 893025, 894916, 896809, 898704, 900601, 902500, 904401, 906304, 908209, 910116, 912025, 913936, 915849, 917764, 919681, 921600, 923521, 925444, 927369, 929296, 931225, 933156, 935089, 937024, 938961, 940900, 942841, 944784, 946729, 948676, 950625, 952576, 954529, 956484, 958441, 960400, 962361, 964324, 966289, 968256, 970225, 972196, 974169, 976144, 978121, 980100, 982081, 984064, 986049, 988036, 990025, 992016, 994009, 996004, 998001, 1000000]

### Q) In a list store the numbers between 1 and 1000 only if the number is divisible by 7

In [ ]:
lst = []

for i in range(1,1001):
  if i % 7 ==0:
    lst.append(i)

print(lst)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

### Q) In a list store the square of the numbers between 1 and 500 only if the number is divisible by 3 and 5 both

In [ ]:
lst = []

for i in range(1,501):
  if (i % 3 ==0) and (i % 5 ==0):
    lst.append(i**2)

print(lst)

[225, 900, 2025, 3600, 5625, 8100, 11025, 14400, 18225, 22500, 27225, 32400, 38025, 44100, 50625, 57600, 65025, 72900, 81225, 90000, 99225, 108900, 119025, 129600, 140625, 152100, 164025, 176400, 189225, 202500, 216225, 230400, 245025]

In [ ]:
print(lst)

[225, 900, 2025, 3600, 5625, 8100, 11025, 14400, 18225, 22500, 27225, 32400, 38025, 44100, 50625, 57600, 65025, 72900, 81225, 90000, 99225, 108900, 119025, 129600, 140625, 152100, 164025, 176400, 189225, 202500, 216225, 230400, 245025]

In [ ]:
lst = [1,2,4,5,6]

In [ ]:
print(lst)

[1, 2, 4, 5, 6]

In [ ]:
lst[3] = 'Harsh'
print(lst)

[1, 2, 4, 'Harsh', 6]

In [ ]:
name = ['Harsh','Vikas','Vinit','Rohit','Vimal']

### Q) In this above list tell me if the name Vinit exists, if yes print Present Else print Not Present

In [ ]:
flag = False

for i in name:
  if i == 'Vinit':
    flag = True

if flag:
  print('Present')
else:
  print('Not present')

Present

In [ ]:
city[1:4:2]

['Noida', 'Bangalore']

In [ ]:
city[::-2]

['Pune', 'Kolkata', 'Delhi']

In [ ]:
city = ['Delhi','Noida','Kolkata','Bangalore','Pune']

In [ ]:
city.insert(1,'Lucknow')
print(city)

['Lucknow']

In [ ]:
city.reverse()
print(city)

['Pune', 'Bangalore', 'Kolkata', 'Noida', 'Delhi']

In [ ]:
popped_value = city.pop()
print(popped_value)
print(city)

IndexError: pop from empty list

In [ ]:
print(city)

['Pune', 'Bangalore', 'Kolkata', 'Noida', 'Delhi']

In [ ]:
city[::-1]

['Delhi', 'Noida', 'Kolkata', 'Bangalore', 'Pune']

In [ ]:
city[1:5:2]

['Bangalore', 'Noida']

In [ ]:
city[0:6:2]

['Pune', 'Kolkata', 'Delhi']

## List Comprehension

* Basics Syantax [expression for item in iterable]

* with conditional logic [expression for item in iterable if condition]

* Nested List Comprehension [expression for item1 in iterable1 for item2 in iterable2]

In [ ]:
lst = []

for i in range(1,6):
  lst.append(i**2)

print(lst)

[1, 4, 9, 16, 25]

In [ ]:
[i**2 for i in range(1,6)]

[1, 4, 9, 16, 25]

In [ ]:
[i for i in range(1,11) if i % 2 == 0]

[2, 4, 6, 8, 10]

In [ ]:
lst = []

for i in range(1,11):
  if i % 2 == 0:
    lst.append(i)

print(lst)

[2, 4, 6, 8, 10]

In [ ]:
[i for i in range(1,11) if i % 2 == 0]

[2, 4, 6, 8, 10]

In [ ]:
lst = []

for i in range(1,6):
  for j in range(1,6):
    lst.append((i,j))

print(lst)

[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5)]

In [ ]:
name = [(i,j) for i in range(1,6) for j in range(1,6)]
print(name)

[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5)]

## Q) Find if a name is Palindrome or not

In [ ]:
st = input("GIve Name ").lower()

if st == st[::-1]:
  print('Palindrome')
else:
  print("Not")

GIve Name Naman
Palindrome

## Find prime numbers between 1 and 100

In [ ]:
isprime = False
for i in range(2,101):
  isprime = True
  for j in range(2,i):
    if i % j == 0:
      isprime = False
      break

  if isprime:
    print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## Find First 25 prime numbers between the values 1 and 100000

In [ ]:
counter = 0
isprime = False
for i in range(2,100001):
  isprime = True
  for j in range(2,i):
    if i % j == 0:
      isprime = False
      break

  if isprime:
    print(i)
    counter += 1
    if counter == 26:
      break

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101

In [ ]:
lst = [1,2,3,4,5,6]

In [ ]:
print(lst)

[1, 2, 3, 4, 5, 6]

In [ ]:
print(lst[4])

5

In [ ]:
lst = [[1,2,3],
       [4,5,6],
       [7,8,9]]
print(lst)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
lst[2][1]

8

In [ ]:
lst = [[1,[1,2]],[2,[2,3]],[4,[3,4]]]

In [ ]:
lst = [[2,3,4],[4,6,[[[7,8]]],9]]

In [ ]:
lst[1][2][0][0][1]

8

In [ ]:
lst = [[23,45,67,56,21],
       [75,64,78,20,19],
       [35,71,34,7,2],
       [34,78,11,23,45],
       [24,78,90,11,2]]

## Q) Find Average marks by students

In [ ]:
marks = [23,45,67,23,68]

In [ ]:
sum = 0
for i in range(0,len(marks)):
  sum = sum + marks[i]
avg = sum / len(marks)
print(avg)

45.2

## Q) Print it in this manner

In [ ]:
'''
A 23 FAIL
B 45 PASS
'''

In [ ]:
marks = [23,45,67,23,68]
name = ['A','B','C','D','E']

In [ ]:
for i in range(len(marks)):
  if marks[i] >= 40:
    print(f"{name[i]} {marks[i]} PASS")
  else:
    print(f"{name[i]} {marks[i]} FAIL")

A 23 FAIL
B 45 PASS
C 67 PASS
D 23 FAIL
E 68 PASS

In [ ]:
'''
90 - 100 -> A+
80 - 90 -> B+
70 - 80 -> C+
60 - 79 -> D+
50 - 60 -> E+
else F-
'''

In [ ]:
for i in range(len(marks)):
  if marks[i] >= 90:
    print(f"{name[i]} {marks[i]} A+")
  elif marks[i] >= 80:
    print(f"{name[i]} {marks[i]} B+")
  elif marks[i] >= 70:
    print(f"{name[i]} {marks[i]} C+")
  elif marks[i] >= 60:
    print(f"{name[i]} {marks[i]} D+")
  elif marks[i] >= 50:
    print(f"{name[i]} {marks[i]} E+")
  else:
    print(f"{name[i]} {marks[i]} F-")

A 23 F-
B 45 F-
C 67 D+
D 23 F-
E 68 D+

## Q) Find the sum of Diagonals

In [ ]:
lst = [[23,45,67,56,21],
       [75,64,78,20,19],
       [35,71,34,7,2],
       [34,78,11,23,45],
       [24,78,90,11,2]]

In [ ]:
diagonal_1_sum = 0
diagonal_2_sum = 0

for i in range(len(lst)):
  diagonal_1_sum = diagonal_1_sum + lst[i][i]
  diagonal_2_sum = diagonal_2_sum + lst[i][len(lst)-(i+1)]

print(diagonal_1_sum)
print(diagonal_2_sum)

146
177

In [ ]:
lst = [[23,45,67,56,21],
       [75,64,78,20,19],
       [35,71,34,7,2],
       [34,78,11,23,45],
       [24,78,90,11,2]]

In [ ]:
diagonal_1_sum = 0
diagonal_2_sum = 0

for i in range(len(lst)):
  for j in range(len(lst)):
    if i == j:
      diagonal_1_sum = diagonal_1_sum + lst[i][j]


for i in range(len(lst)):
  for j in range(len(lst)):
    if i + j == (len(lst) - 1):
      diagonal_2_sum = diagonal_2_sum + lst[i][j]


print(diagonal_1_sum)
print(diagonal_2_sum)

146
177

In [ ]:
'''
Report Card

A 23 B+
B 23 C-

'''

# Tuple

In [ ]:
lst = []
lst = list()

In [ ]:
tup = tuple()
print(tup)
print(type(tup))

()
<class 'tuple'>

In [ ]:
tup = ()
print(tup)
print(type(tup))

()
<class 'tuple'>

In [ ]:
tup = (1,2,3,"Harsh",True,23.34)
print(tup)

(1, 2, 3, 'Harsh', True, 23.34)

In [ ]:
tup[1:4]

(2, 3, 'Harsh')

In [ ]:
tup[3] = 'Vikas'

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup = list(tup)

In [ ]:
tup

[1, 2, 3, 'Harsh', True, 23.34]

In [ ]:
tup[3] = 'Vikas'

In [ ]:
tup

[1, 2, 3, 'Vikas', True, 23.34]

In [ ]:
tup = tuple(tup)

In [ ]:
tup

(1, 2, 3, 'Vikas', True, 23.34)

In [ ]:
tup = (1,2,3)

In [ ]:
tup

(1, 2, 3)

In [ ]:
a,b,c = tup
print(a)
print(b)
print(c)

1
2
3

In [ ]:
tup = (1,2,3,4,5,6,7,8,9,10)

In [ ]:
## Unpacking with a *

a,*b,c = tup
print(a)
print(b)
print(c)

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

In [ ]:
tup = (1,2,3,[4,5,6],(4,5,6))
tup

(1, 2, 3, [4, 5, 6], (4, 5, 6))

In [ ]:
lst = [1,2,3,([2,3],[5,6])]
lst

[1, 2, 3, ([2, 3], [5, 6])]

## Q) In a list store elements in tuple format of all possible combinations that you can get when you 2 dice at once

#### Q) Solve this using List Comprehension

In [ ]:
lst = []
for i in range(1,7):
  for j in range(1,7):
    lst.append((i,j))

print(lst)

[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)]

In [ ]:
[(i,j) for i in range(1,7) for j in range(1,7)]

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)]

# Set

In [ ]:
s = {1}
print(type(s))

<class 'set'>

In [ ]:
s = set()
print(type(s))

<class 'set'>

In [ ]:
s = {1,2,3,4,5,6}
print(s)

{1, 2, 3, 4, 5, 6}

In [ ]:
s = {1,1,2,3,3,3,3,3,3,3,3,3}
for i in s:
  print(i)

1
2
3

In [ ]:
s = {'Harsh','ABC',23,435,43.56,True,False}
print(s)

{False, True, 'ABC', 435, 23, 'Harsh', 43.56}

In [ ]:
for i in s:
  print(i)

False
True
ABC
435
23
Harsh
43.56

In [ ]:
name = 'Harshvardhan Singh Sharma Verma'
print(name.split())

['Harshvardhan', 'Singh', 'Sharma', 'Verma']

## Q) In a given sentence tell me the unique words and tell me the count of them as well

In [ ]:
s = "In this classroom we are studying Python and Python In classroom are we Studying"

In [ ]:
a = s.split()
print(a)
a = set(a)
print(a)
count = len(a)
print(count)

['In', 'this', 'classroom', 'we', 'are', 'studying', 'Python', 'and', 'Python', 'In', 'classroom', 'are', 'we', 'Studying']
{'studying', 'Python', 'this', 'are', 'and', 'Studying', 'classroom', 'In', 'we'}
9


Question:

You are given a list of integers representing the IDs of students who have signed up for an event, but some students have signed up multiple times by mistake. Your task is to:

Remove duplicates to get the unique IDs of students who signed up. Identify students who have both signed up and attended the event (IDs are given in a separate list of attendees). Classify each student as: "Attended" if they signed up and attended. "No-show" if they signed up but did not attend. Finally, print a summary showing the count of "Attended" and "No-show" students. Input:

A list of integers signups, where each element represents a student ID who signed up for the event. (It may contain duplicates.) A list of integers attendees, where each element represents a student ID who attended the event. Output: Print each unique student ID along with its status ("Attended" or "No-show") and a summary like the example below.

In [ ]:
signups = [101, 102, 103, 104, 101, 105, 106, 102]
attendees = [102, 104, 106, 107]

In [ ]:
Expected Output

101: No-show
102: Attended
103: No-show

Summary:
Attended: 3
No-show: 3

In [ ]:
unique_signups = set(signups)
unique_attendees = set(attendees)
attended = 0
noshow = 0

for i in unique_signups:
  if i in unique_attendees:
    print(f"{i}: Attended")
    attended += 1
  else:
    print(f"{i}: No Show")
    noshow += 1
print()
print('Summary')
print(f"Attended: {attended}")
print(f"No-show: {noshow}")

101: No Show
102: Attended
103: No Show
104: Attended
105: No Show
106: Attended

Summary
Attended: 3
No-show: 3

## Q) Check if the 3 digit number is an armstrong number or not

In [22]:
num = str(153)
c = 153
final = 153
sum = 0
for i in range(len(num)):
  a = c % 10
  sum = sum + a**len(num)
  c = c // 10

if final == sum:
  print("Armstrong")
else:
  print('Not')

Armstrong

In [24]:
num = '153'
length = len(num)
sum = 0
for i in num:
  sum = sum + int(i)**length

if sum == int(num):
  print('A')

A

# Dictionary

In [57]:
d = {1:"Harsh",2:'Vinit',3:"Dhawal"}

In [26]:
print(d)

{1: 'Harsh', 2: 'Vinit', 3: 'Dhawal'}

In [58]:
d[4] = 'Amit'

In [28]:
d

{1: 'Harsh', 2: 'Vinit', 3: 'Dhawal', 4: 'Amit'}

In [29]:
d['ABC'] = 12

In [30]:
d

{1: 'Harsh', 2: 'Vinit', 3: 'Dhawal', 4: 'Amit', 'ABC': 12}

In [31]:
d

{1: 'Harsh', 2: 'Vinit', 3: 'Dhawal', 4: 'Amit', 'ABC': 12}

In [32]:
d[1] = 'ABC'

In [34]:
d

{1: 'ABC', 2: 'Vinit', 3: 'Dhawal', 4: 'Amit', 'ABC': 12}

In [37]:
d_copy = d
print(d_copy)
print(d)

{1: 'ABC', 2: 'Vinit', 3: 'Dhawal', 4: 'Amit', 'ABC': 12}
{1: 'ABC', 2: 'Vinit', 3: 'Dhawal', 4: 'Amit', 'ABC': 12}

In [38]:
d[1] = 'Harsh'

In [40]:
print(d)
print(d_copy)

{1: 'Harsh', 2: 'Vinit', 3: 'Dhawal', 4: 'Amit', 'ABC': 12}
{1: 'Harsh', 2: 'Vinit', 3: 'Dhawal', 4: 'Amit', 'ABC': 12}

In [41]:
d_copy = d.copy()

In [42]:
print(d)
print(d_copy)

{1: 'Harsh', 2: 'Vinit', 3: 'Dhawal', 4: 'Amit', 'ABC': 12}
{1: 'Harsh', 2: 'Vinit', 3: 'Dhawal', 4: 'Amit', 'ABC': 12}

In [43]:
d[1] = '123'
print(d)
print(d_copy)

{1: '123', 2: 'Vinit', 3: 'Dhawal', 4: 'Amit', 'ABC': 12}
{1: 'Harsh', 2: 'Vinit', 3: 'Dhawal', 4: 'Amit', 'ABC': 12}

In [47]:
del d[1]

In [48]:
d

{2: 'Vinit', 3: 'Dhawal', 4: 'Amit', 'ABC': 12}

In [ ]:
## keys
## values
## items

In [46]:
for i in d:
  print(i)

1
2
3
4
ABC

In [51]:
d

{1: 'Harsh', 2: 'Vinit', 3: 'Dhawal', 4: 'Amit'}

In [54]:
del d

In [55]:
d

NameError: name 'd' is not defined

In [56]:
d

NameError: name 'd' is not defined

In [59]:
d

{1: 'Harsh', 2: 'Vinit', 3: 'Dhawal', 4: 'Amit'}

In [63]:
for i in d:
  print(d[i])

Harsh
Vinit
Dhawal
Amit

In [64]:
print(d.keys())

dict_keys([1, 2, 3, 4])

In [65]:
print(d.values())

dict_values(['Harsh', 'Vinit', 'Dhawal', 'Amit'])

In [66]:
print(d.items())

dict_items([(1, 'Harsh'), (2, 'Vinit'), (3, 'Dhawal'), (4, 'Amit')])

In [70]:
for i,j in d.items():
  print(i,j)

1 Harsh
2 Vinit
3 Dhawal
4 Amit

In [72]:
d = {
    'name':['Harsh','Amit','Dhawal','Vinit'],
    'marks':[12,34,55,86,43]
}

In [73]:
d

{'name': ['Harsh', 'Amit', 'Dhawal', 'Vinit'], 'marks': [12, 34, 55, 86, 43]}

In [81]:
students = {
    "101": {"name": "Aarav Sharma", "department": "Computer Science", "marks": 87},
    "102": {"name": "Meera Verma", "department": "Electronics", "marks": 91},
    "103": {"name": "Rohan Das", "department": "Mechanical", "marks": 78},
    "104": {"name": "Sana Khan", "department": "Information Technology", "marks": 85},
    "105": {"name": "Dev Patel", "department": "Civil", "marks": 82}
}

In [89]:
for i,j in students.items():
  for k,l in j.items():
    print(f"{k} : {l}")
  print("*"*30)

name : Aarav Sharma
department : Computer Science
marks : 87
******************************
name : Meera Verma
department : Electronics
marks : 91
******************************
name : Rohan Das
department : Mechanical
marks : 78
******************************
name : Sana Khan
department : Information Technology
marks : 85
******************************
name : Dev Patel
department : Civil
marks : 82
******************************

In [85]:
for i,j in students.items():
  print(f"name: {j['name']}")
  print(f"department: {j['department']}")
  print(f"marks: {j['marks']}")
  print("*"*30)

name: Aarav Sharma
department: Computer Science
marks: 87
******************************
name: Meera Verma
department: Electronics
marks: 91
******************************
name: Rohan Das
department: Mechanical
marks: 78
******************************
name: Sana Khan
department: Information Technology
marks: 85
******************************
name: Dev Patel
department: Civil
marks: 82
******************************

In [ ]:
'''
name: Aarav Sharma
department: Computer Science
marks: 87

*****************************
name: Meera Verma


'''

In [82]:
students

{'101': {'name': 'Aarav Sharma',
  'department': 'Computer Science',
  'marks': 87},
 '102': {'name': 'Meera Verma', 'department': 'Electronics', 'marks': 91},
 '103': {'name': 'Rohan Das', 'department': 'Mechanical', 'marks': 78},
 '104': {'name': 'Sana Khan',
  'department': 'Information Technology',
  'marks': 85},
 '105': {'name': 'Dev Patel', 'department': 'Civil', 'marks': 82}}

In [90]:
import streamlit as st

ModuleNotFoundError: No module named 'streamlit'

In [91]:
pip install streamlit

Collecting streamlit
  Downloading streamlit-1.47.0-py3-none-any.whl.metadata (9.0 kB)
Requirement already satisfied: altair<6,>=4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (5.5.0)
Requirement already satisfied: blinker<2,>=1.5.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (1.9.0)
Requirement already satisfied: cachetools<7,>=4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (5.5.2)
Requirement already satisfied: click<9,>=7.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (8.2.1)
Requirement already satisfied: numpy<3,>=1.23 in /usr/local/lib/python3.11/dist-packages (from streamlit) (2.0.2)
Requirement already satisfied: packaging<26,>=20 in /usr/local/lib/python3.11/dist-packages (from streamlit) (25.0)
Requirement already satisfied: pandas<3,>=1.4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (2.2.2)
Requirement already satisfied: pillow<12,>=7.1.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (11.3.0)
Requirement already satisfied: protobuf<7,>=3.20 in /usr/local/lib/python3.11/dist-packages (from streamlit) (5.29.5)
Requirement already satisfied: pyarrow>=7.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (18.1.0)
Requirement already satisfied: requests<3,>=2.27 in /usr/local/lib/python3.11/dist-packages (from streamlit) (2.32.3)
Requirement already satisfied: tenacity<10,>=8.1.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (8.5.0)
Requirement already satisfied: toml<2,>=0.10.1 in /usr/local/lib/python3.11/dist-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (4.14.1)
Collecting watchdog<7,>=2.1.5 (from streamlit)
  Downloading watchdog-6.0.0-py3-none-manylinux2014_x86_64.whl.metadata (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.3/44.3 kB 490.4 kB/s eta 0:00:00
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /usr/local/lib/python3.11/dist-packages (from streamlit) (3.1.44)
Collecting pydeck<1,>=0.8.0b4 (from streamlit)
  Downloading pydeck-0.9.1-py2.py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: tornado!=6.5.0,<7,>=6.0.3 in /usr/local/lib/python3.11/dist-packages (from streamlit) (6.4.2)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.11/dist-packages (from altair<6,>=4.0->streamlit) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.11/dist-packages (from altair<6,>=4.0->streamlit) (4.25.0)
Requirement already satisfied: narwhals>=1.14.2 in /usr/local/lib/python3.11/dist-packages (from altair<6,>=4.0->streamlit) (1.48.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.11/dist-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.12)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=1.4.0->streamlit) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=1.4.0->streamlit) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=1.4.0->streamlit) (2025.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (2025.7.14)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.11/dist-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.11/dist-packages (from jinja2->altair<6,>=4.0->streamlit) (3.0.2)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2025.4.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.26.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit) (1.17.0)
Downloading streamlit-1.47.0-py3-none-any.whl (9.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.9/9.9 MB 22.0 MB/s eta 0:00:00
Downloading pydeck-0.9.1-py2.py3-none-any.whl (6.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.9/6.9 MB 61.7 MB/s eta 0:00:00
Downloading watchdog-6.0.0-py3-none-manylinux2014_x86_64.whl (79 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.1/79.1 kB 6.4 MB/s eta 0:00:00
Installing collected packages: watchdog, pydeck, streamlit
Successfully installed pydeck-0.9.1 streamlit-1.47.0 watchdog-6.0.0

In [92]:
import streamlit as st

In [95]:
!pip install streamlit

Requirement already satisfied: streamlit in /usr/local/lib/python3.11/dist-packages (1.47.0)
Requirement already satisfied: altair<6,>=4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (5.5.0)
Requirement already satisfied: blinker<2,>=1.5.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (1.9.0)
Requirement already satisfied: cachetools<7,>=4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (5.5.2)
Requirement already satisfied: click<9,>=7.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (8.2.1)
Requirement already satisfied: numpy<3,>=1.23 in /usr/local/lib/python3.11/dist-packages (from streamlit) (2.0.2)
Requirement already satisfied: packaging<26,>=20 in /usr/local/lib/python3.11/dist-packages (from streamlit) (25.0)
Requirement already satisfied: pandas<3,>=1.4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (2.2.2)
Requirement already satisfied: pillow<12,>=7.1.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (11.3.0)
Requirement already satisfied: protobuf<7,>=3.20 in /usr/local/lib/python3.11/dist-packages (from streamlit) (5.29.5)
Requirement already satisfied: pyarrow>=7.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (18.1.0)
Requirement already satisfied: requests<3,>=2.27 in /usr/local/lib/python3.11/dist-packages (from streamlit) (2.32.3)
Requirement already satisfied: tenacity<10,>=8.1.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (8.5.0)
Requirement already satisfied: toml<2,>=0.10.1 in /usr/local/lib/python3.11/dist-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (4.14.1)
Requirement already satisfied: watchdog<7,>=2.1.5 in /usr/local/lib/python3.11/dist-packages (from streamlit) (6.0.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /usr/local/lib/python3.11/dist-packages (from streamlit) (3.1.44)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in /usr/local/lib/python3.11/dist-packages (from streamlit) (0.9.1)
Requirement already satisfied: tornado!=6.5.0,<7,>=6.0.3 in /usr/local/lib/python3.11/dist-packages (from streamlit) (6.4.2)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.11/dist-packages (from altair<6,>=4.0->streamlit) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.11/dist-packages (from altair<6,>=4.0->streamlit) (4.25.0)
Requirement already satisfied: narwhals>=1.14.2 in /usr/local/lib/python3.11/dist-packages (from altair<6,>=4.0->streamlit) (1.48.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.11/dist-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.12)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=1.4.0->streamlit) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=1.4.0->streamlit) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=1.4.0->streamlit) (2025.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (2025.7.14)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.11/dist-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.11/dist-packages (from jinja2->altair<6,>=4.0->streamlit) (3.0.2)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2025.4.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.26.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit) (1.17.0)