# Questions

In [ ]:
marks = 23
name = 'Harsh'

print('Hi',name,"your marks is",marks)
print(f"Hi {name}, your marks is {marks}")

Hi Harsh your marks is 23
Hi Harsh, your marks is 23

#### Q) Find the Volume of a cylinder

In [ ]:
pi = 3.14
r = float(input('Give r '))
h = float(input('Give  '))

vol = (pi*(r**2)*h)
print(f"The Vol of Cylinder is {vol}")

Give r 34
Give  6
The Vol of Cylinder is 21779.04

#### Q) Find Compound Interest

In [ ]:
p = float(input('Give p '))
r = float(input('Give r '))
n = float(input('Give n '))
t = float(input('Give t '))

CI = p * (1+r/n)**(n*t)

print(f'The Compound Interest is {CI}')

Give p 1200
Give r 7
Give n 1
Give t 2
The Compound Interest is 76800.0

In [ ]:
## Comparison Operator

'''
>
<
>=
<=
!=
=
==

'''

a = 10
b = 12

print(a == b)

False

In [ ]:
## Logical Operator

'''
AND
OR
NOT
'''

print((12>b) or (7<=a))

True

# Conditional

In [ ]:
age = 2

if age >= 18:
  print('Eligible')
elif age < 18:
  print('H')
else:
  print('Not Eligible')

H

#### Take age from the user

In [ ]:
# [20-100] - Adult
# [13 - 19] - Teenager
# [0 - 12] - Child
# anything else is invalid age

In [ ]:
age = int(input('Give age '))

if age >= 20 and age <= 100:
  print('Adult')
elif age >= 13:
  print('Teenager')
elif age >= 0:
  print('Child')
else:
  print('Invalid')

Give age 102
Teenager

In [ ]:
if True:
  print('Hi')
  if False:
    print('Hey')
  else:
    print('Hello')
    if False:
      print('Yo')
    else:
      print('H')
  print('A')

Hi
Hello
H

In [ ]:
a = 12
b = 10

if (a>10 or a<12):
  if(b>7 or a<2):
    print('H')
    if(b>2 and a > b):
      print('Hey')
    else:
      print('hi')

H
Hey

#### Q) Check if the number is +ve, if +ve check if it is odd or even else write -ve

In [ ]:
num = int(input('Give n '))

if num > 0:
  print('The num is +ve')
  if num % 2 == 0:
    print('Even')
  else:
    print('Odd')
else:
  print('-ve')

Give n 23
The num is +ve
Odd

#### Q) Check if the number is divisible by 2 and 5 both

In [ ]:
# [Divisible by 2]
# [Divisible by 5]
# [Divisible by both 2 and 5]
# [Divisible by none]

In [ ]:
num = int(input('Give Number '))

if num%2 == 0:
  if num % 5 == 0:
    print('Divisble by both')
  else:
    print('Divisible by 2 and not by 5')

elif num % 5 == 0:
  print('Divisible by 5 not by 2')

else:
  print('Divisible by none')

Give Number 13
Divisible by none

## Check if the number is divisible by 3 and 7

In [ ]:
n = int(input('GIve n '))

if n%3 == 0:
  if n%7 == 0:
    print('Divisible by both')
  else:
    print('Divisible by 3 not 7')
elif n%7 == 0:
  print('Divisible by 7 and not 3')
else:
  print('Divisible by none')

GIve n12
Divisible by 3 not 7

## Report Card Generator

In [ ]:
'''
90 - 100 -A
80 - 89 - B
70 - 79 - C
60 - 69 - D
50 - 59 - E

else F
'''

In [ ]:
name = input('Give Name ')
marks = int(input('Give Marks '))

if marks >= 90 and marks <= 100:
  grade = 'A'
elif marks >= 80 and marks < 90 :
  grade = 'b'
elif marks >= 70 and marks < 80 :
  grade = 'c'
elif marks >= 60 and marks < 70 :
  grade = 'd'
elif marks >= 50 and marks < 60 :
  grade = 'e'
else:
  grade = 'F'

print(f"Hi {name}, your marks are {marks} and your grade is {grade}")

Give Name harsh
Give Marks 88
Hi harsh, your marks are 88 and your grade is b

In [ ]:
name = input('Give Name ')
marks = int(input('Give Marks '))

if marks <= 100:
  if marks >= 90:
    grade = 'A'
  elif marks >= 80:
    grade = 'b'
  elif marks >= 70:
    grade = 'c'
  elif marks >= 60:
    grade = 'd'
  elif marks >= 50:
    grade = 'e'
  else:
    grade = 'F'

print(f"Hi {name}, your marks are {marks} and your grade is {grade}")

Give Name Harsh
Give Marks 120
Invalid Marks
Hi Harsh, your marks are 120 and your grade is c

## Simple Calculator

In [ ]:
num1 = float(input('GIve Num1 '))
num2 = float(input('GIve Num2 '))
operator = input('+,-,*,/')

if operator == "+":
  result = num1 + num2
elif operator == "-":
  result = num1 - num2
elif operator == "*":
  result = num1 * num2
elif operator == "/":
  if num2 == 0:
    print('Invlid OPeration')
  else:
    result = num1 / num2
else:
  print('Invalid OPerator')

print(f"The result is {result}")

GIve Num1 23
GIve Num2 0
+,-,*,//
Invlid OPeration
The result is 540.0

## Login System

In [ ]:
stored_us = 'admin'
stored_pass = 'pass'

u = input('Give username ')
pas = input('GIve Pass')

if u == stored_us:
  if pas == stored_pass:
    print('Login Successful!')
  else:
    print('Invalid Pass')
else:
  print('Invalid Username')

Give username asd
GIve Passfd
Invalid Username

## Employee Bonus Calculator

In [ ]:
name = input('GIve name')
yrs = int(input('Give yrs'))
score = float(input('Give score'))
salary = float(input('GIve salary'))

if score > 4.5 and score < 5:
  if yrs > 10:
    bonus = 20
  elif yrs > 5:
    bonus = 10
  else:
    bonus = 2

elif score >= 3.5 and score < 4.5:
  if yrs > 10:
    bonus = 10
  elif yrs > 5:
    bonus = 5
  else:
    bonus = 0

else:
  bonus = 0

new_salary = salary + (bonus*salary)/100

print(f"Hi {name}, your score is {score} and your new salary is {new_salary}")

GIve nameHarsh
Give yrs11
Give score4.6
GIve salary400000
Hi Harsh, your score is 4.6 and your new salary is 480000.0

# Loops

In [ ]:
i = 1

while i < 6:
  print(i)
  i = i + 1

1
2
3
4
5

## Using a while loop write odd numbers between 1 and 100 and also print the sum of these numbers

In [ ]:
i = 1
sum = 0
while i < 101:
  print(i)
  sum = sum + i
  i = i + 2
print(f"the sum value is {sum}")

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
the sum value is 2500

In [ ]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
range(5)

range(0, 5)

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(1,5):
  print(i)

1
2
3
4

In [ ]:
for i in range(1,5,2):
  print(i)

1
3

In [ ]:
for i in range(2,7,3):
  print(i)

2
5

In [ ]:
for i in range(5,51,5):
  print(i)

5
10
15
20
25
30
35
40
45
50

In [ ]:
for i in range(5,0,-1):
  print(i)

5
4
3
2
1

In [ ]:
for i in range(50,4,-5):
  print(i)

50
45
40
35
30
25
20
15
10
5

In [ ]:
for i in range(60,5,-6):
  print(i)

60
54
48
42
36
30
24
18
12
6

In [ ]:
## Q)
num = 5

for i in range(num, (num*10)+1,num):
  print(i)

5
10
15
20
25
30
35
40
45
50

In [ ]:
num = 10

for i in range(num*10, num-1, -num):
  print(i)

100
90
80
70
60
50
40
30
20
10

In [ ]:
num = 10
count = 0

for i in range(num, (num*10)+1, num):
  count = count + 1
  print(f"{num} * {count} = {i}")

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
num = 12
count = 11

for i in range(num*10, num-1, -num):
  count = count - 1
  print(f"{num} * {count} = {i}")

10 * 10 = 100
10 * 9 = 90
10 * 8 = 80
10 * 7 = 70
10 * 6 = 60
10 * 5 = 50
10 * 4 = 40
10 * 3 = 30
10 * 2 = 20
10 * 1 = 10

## Q) Find numbers between 1 and 200 that are divisible by both 3 and 7

In [ ]:
for i in range(1,201):
  if (i%3 == 0) and (i%7 == 0):
    print(i)

21
42
63
84
105
126
147
168
189

## Q) Count the  numbers between 1 and 500 that are divisible by 2 3 7 all

In [ ]:
count = 0
for i in range(1,501):
  if (i%2 == 0) and (i%3 == 0) and (i%7 == 0):
    count = count + 1
    count += 1

print(count)

11

## Find the sum of first n natural numbers

In [ ]:
n = 12
sum = 0

for i in range(1,n+1):
  sum = sum + i

print(sum)

78

In [ ]:
for i in range(1,11):
  print(i)
  if i == 5:
    pass

1
2
3
4
5
6
7
8
9
10

## Q) FInd first 10 numbers between 1 and 10000 that are divisible by all 3, 7 and 11

In [ ]:
count = 0

for i in range(1,10001):
  if (i%3 == 0) and (i%7 == 0) and (i%11 == 0):
    count += 1
    print(i)

    if count == 10:
      break

231
462
693
924
1155
1386
1617
1848
2079
2310

In [ ]:
name = 'Harshvardhan Singh'

for i in name:
  print(i, end = " ")

H-a-r-s-h-v-a-r-d-h-a-n- -S-i-n-g-h-

## Q) Find the number of vowels inside the string that the user gives

In [ ]:
string = input('Give a string ')
a = 'aeiouAEIOU'
count = 0

for i in string:
  for j in a:
    if j == i:
      count += 1

print(count)

Give a string aeiou hsjahd safh jkasf hk
8

In [ ]:
string = input('Give a string ')

count = 0

for i in string:
  if (i == 'a') or (i == 'e'):
    count += 1

print(count)

## Q) Find the sum and count of the first 100 odd numbers in the range of 1 and 100000 using for loop

In [ ]:
sum = 0
count = 0

for i in range(1,100001):
  if i % 2 != 0:
    sum = sum + i
    count = count + 1
  if count == 100:
    break

print(f"The sum is {sum} and the count is {count}")

The sum is 10000 and the count is 100

In [ ]:
## Nested Loops

for i in range(1,7):
  for j in range(1,7):
    for k in range(1,7):
      print(i,j,k)
    print('****')

1 1 1
1 1 2
1 1 3
1 1 4
1 1 5
1 1 6
1 2 1
1 2 2
1 2 3
1 2 4
1 2 5
1 2 6
1 3 1
1 3 2
1 3 3
1 3 4
1 3 5
1 3 6
1 4 1
1 4 2
1 4 3
1 4 4
1 4 5
1 4 6
1 5 1
1 5 2
1 5 3
1 5 4
1 5 5
1 5 6
1 6 1
1 6 2
1 6 3
1 6 4
1 6 5
1 6 6
2 1 1
2 1 2
2 1 3
2 1 4
2 1 5
2 1 6
2 2 1
2 2 2
2 2 3
2 2 4
2 2 5
2 2 6
2 3 1
2 3 2
2 3 3
2 3 4
2 3 5
2 3 6
2 4 1
2 4 2
2 4 3
2 4 4
2 4 5
2 4 6
2 5 1
2 5 2
2 5 3
2 5 4
2 5 5
2 5 6
2 6 1
2 6 2
2 6 3
2 6 4
2 6 5
2 6 6
3 1 1
3 1 2
3 1 3
3 1 4
3 1 5
3 1 6
3 2 1
3 2 2
3 2 3
3 2 4
3 2 5
3 2 6
3 3 1
3 3 2
3 3 3
3 3 4
3 3 5
3 3 6
3 4 1
3 4 2
3 4 3
3 4 4
3 4 5
3 4 6
3 5 1
3 5 2
3 5 3
3 5 4
3 5 5
3 5 6
3 6 1
3 6 2
3 6 3
3 6 4
3 6 5
3 6 6
4 1 1
4 1 2
4 1 3
4 1 4
4 1 5
4 1 6
4 2 1
4 2 2
4 2 3
4 2 4
4 2 5
4 2 6
4 3 1
4 3 2
4 3 3
4 3 4
4 3 5
4 3 6
4 4 1
4 4 2
4 4 3
4 4 4
4 4 5
4 4 6
4 5 1
4 5 2
4 5 3
4 5 4
4 5 5
4 5 6
4 6 1
4 6 2
4 6 3
4 6 4
4 6 5
4 6 6
5 1 1
5 1 2
5 1 3
5 1 4
5 1 5
5 1 6
5 2 1
5 2 2
5 2 3
5 2 4
5 2 5
5 2 6
5 3 1
5 3 2
5 3 3
5 3 4
5 3 5
5 3 6
5 4 1
5 4 2
5 4 3
5 4 4
5 4 5
5 4 6
5 5 1
5 5 2
5 5 3
5 5 4
5 5 5
5 5 6
5 6 1
5 6 2
5 6 3
5 6 4
5 6 5
5 6 6
6 1 1
6 1 2
6 1 3
6 1 4
6 1 5
6 1 6
6 2 1
6 2 2
6 2 3
6 2 4
6 2 5
6 2 6
6 3 1
6 3 2
6 3 3
6 3 4
6 3 5
6 3 6
6 4 1
6 4 2
6 4 3
6 4 4
6 4 5
6 4 6
6 5 1
6 5 2
6 5 3
6 5 4
6 5 5
6 5 6
6 6 1
6 6 2
6 6 3
6 6 4
6 6 5
6 6 6
****

## Pattern Printing

In [ ]:
'''

*
**
***
****
*****

'''

In [ ]:
num = 10

for i in range(1,num+1):
  print(i* "* ")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
'''

*****
****
***
**
*

'''

In [ ]:
num = 5

for i in range(num, 0, -1):
  print(i*"* ")

* * * * *
* * * *
* * *
* *
*

In [ ]:
'''

1
22
333
4444
55555

'''

In [ ]:
for i in range(1,6):
  print(str(i)*i)

1
22
333
4444
55555

In [ ]:
'''

*****
*****
*****
*****
*****

'''

In [ ]:
for i in range(1,6):
  print(5 * "*")

*****
*****
*****
*****
*****

In [ ]:
'''

**********
*        *
*        *
*        *
*        *
*        *
*        *
*        *
*        *
**********


'''

In [ ]:
num = 5
print("*"*num)

for i in range(1,num-1):
  print("*"+" "*(num-2)+"*")

print("*"*num)

*****
*   *
*   *
*   *
*****

In [ ]:
'''
*
* *
*  *
*   *
*    *
*     *
********

'''

In [ ]:
print("*")

for i in range(1,7):
  print("*"+" "*i+"*")


print("*"*9)

*
* *
*  *
*   *
*    *
*     *
*      *
*********

In [ ]:
'''

    *
   **
  ***
 ****
*****


'''

In [ ]:
num = 5

for i in range(1,num+1):
  print(' '*(num-i) + "*"*i)

    *
   **
  ***
 ****
*****

In [ ]:
'''

    *
   **
  ***
 ****
*****
*****
 ****
  ***
   **
    *


'''

In [ ]:
num = 5

for i in range(1,num+1):
  print(' '*(num-i) + "*"*i)

for i in range(num, 0, -1):
  print(' '*(num-i) + "*"*i)

    *
   **
  ***
 ****
*****
*****
 ****
  ***
   **
    *

#### Q) Find prime numbers between 1 and 100

In [ ]:
isprime = False

for i in range(2,101):
  isprime = True
  for j in range(2,i):
    if i % j == 0:
      isprime = False
      break
  if isprime:
    print(i)

## Q) Write first 25 prime numbers between 1 and 10000

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

#### Q) Write first 25 prime numbers between 1 and 10000

In [ ]:
isprime = False
count = 0

for i in range(2,10001):
  isprime = True
  for j in range(2,i):
    if i % j == 0:
      isprime = False
      break
  if isprime:
    count = count + 1
    print(i)

  if count == 25:
    break

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Data Structures

In [ ]:
'''
name
roll number
class
physics
chem
maths
sections

'''

## List

In [ ]:
lst = []
print(lst)
print(type(lst))

[]
<class 'list'>

In [ ]:
lst = list()
print(type(lst))

<class 'list'>

In [ ]:
lst = [1,2,3,4,5,'Harsh','Amit','vidit',3.14,6.34,77.44,True,False]
print(lst)

[1, 2, 3, 4, 5, 'Harsh', 'Amit', 'vidit', 3.14, 6.34, 77.44, True, False]

In [ ]:
print(lst[-3])

In [ ]:
print(lst[6])

Amit

In [ ]:
print(lst[2])

3

In [ ]:
print(lst[-2])

True

In [ ]:
lst[7] = 'aman'
print(lst)

[1, 2, 3, 4, 5, 'Harsh', 'Amit', 'aman', 3.14, 6.34, 77.44, True, False]

In [ ]:
lst.append(6)
print(lst)

[1, 2, 3, 4, 5, 'Harsh', 'Amit', 'aman', 3.14, 6.34, 77.44, True, False, 'Hey', 6]

#### Q) Create a list with number between 1 and 15 and the numbers should be squared

In [ ]:
lst = []

for i in range(1,16):
  lst.append(i*i)

print(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

#### Q) Create a list with numbers between 1 and 5000 and only the even numbers should be present in the list

In [ ]:
lst = []

for i in range(1,5001):
  if i % 2 == 0:
    lst.append(i)

print(lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498, 500, 502, 504, 506, 508, 510, 512, 514, 516, 518, 520, 522, 524, 526, 528, 530, 532, 534, 536, 538, 540, 542, 544, 546, 548, 550, 552, 554, 556, 558, 560, 562, 564, 566, 568, 570, 572, 574, 576, 578, 580, 582, 584, 586, 588, 590, 592, 594, 596, 598, 600, 602, 604, 606, 608, 610, 612, 614, 616, 618, 620, 622, 624, 626, 628, 630, 632, 634, 636, 638, 640, 642, 644, 646, 648, 650, 652, 654, 656, 658, 660, 662, 664, 666, 668, 670, 672, 674, 676, 678, 680, 682, 684, 686, 688, 690, 692, 694, 696, 698, 700, 702, 704, 706, 708, 710, 712, 714, 716, 718, 720, 722, 724, 726, 728, 730, 732, 734, 736, 738, 740, 742, 744, 746, 748, 750, 752, 754, 756, 758, 760, 762, 764, 766, 768, 770, 772, 774, 776, 778, 780, 782, 784, 786, 788, 790, 792, 794, 796, 798, 800, 802, 804, 806, 808, 810, 812, 814, 816, 818, 820, 822, 824, 826, 828, 830, 832, 834, 836, 838, 840, 842, 844, 846, 848, 850, 852, 854, 856, 858, 860, 862, 864, 866, 868, 870, 872, 874, 876, 878, 880, 882, 884, 886, 888, 890, 892, 894, 896, 898, 900, 902, 904, 906, 908, 910, 912, 914, 916, 918, 920, 922, 924, 926, 928, 930, 932, 934, 936, 938, 940, 942, 944, 946, 948, 950, 952, 954, 956, 958, 960, 962, 964, 966, 968, 970, 972, 974, 976, 978, 980, 982, 984, 986, 988, 990, 992, 994, 996, 998, 1000, 1002, 1004, 1006, 1008, 1010, 1012, 1014, 1016, 1018, 1020, 1022, 1024, 1026, 1028, 1030, 1032, 1034, 1036, 1038, 1040, 1042, 1044, 1046, 1048, 1050, 1052, 1054, 1056, 1058, 1060, 1062, 1064, 1066, 1068, 1070, 1072, 1074, 1076, 1078, 1080, 1082, 1084, 1086, 1088, 1090, 1092, 1094, 1096, 1098, 1100, 1102, 1104, 1106, 1108, 1110, 1112, 1114, 1116, 1118, 1120, 1122, 1124, 1126, 1128, 1130, 1132, 1134, 1136, 1138, 1140, 1142, 1144, 1146, 1148, 1150, 1152, 1154, 1156, 1158, 1160, 1162, 1164, 1166, 1168, 1170, 1172, 1174, 1176, 1178, 1180, 1182, 1184, 1186, 1188, 1190, 1192, 1194, 1196, 1198, 1200, 1202, 1204, 1206, 1208, 1210, 1212, 1214, 1216, 1218, 1220, 1222, 1224, 1226, 1228, 1230, 1232, 1234, 1236, 1238, 1240, 1242, 1244, 1246, 1248, 1250, 1252, 1254, 1256, 1258, 1260, 1262, 1264, 1266, 1268, 1270, 1272, 1274, 1276, 1278, 1280, 1282, 1284, 1286, 1288, 1290, 1292, 1294, 1296, 1298, 1300, 1302, 1304, 1306, 1308, 1310, 1312, 1314, 1316, 1318, 1320, 1322, 1324, 1326, 1328, 1330, 1332, 1334, 1336, 1338, 1340, 1342, 1344, 1346, 1348, 1350, 1352, 1354, 1356, 1358, 1360, 1362, 1364, 1366, 1368, 1370, 1372, 1374, 1376, 1378, 1380, 1382, 1384, 1386, 1388, 1390, 1392, 1394, 1396, 1398, 1400, 1402, 1404, 1406, 1408, 1410, 1412, 1414, 1416, 1418, 1420, 1422, 1424, 1426, 1428, 1430, 1432, 1434, 1436, 1438, 1440, 1442, 1444, 1446, 1448, 1450, 1452, 1454, 1456, 1458, 1460, 1462, 1464, 1466, 1468, 1470, 1472, 1474, 1476, 1478, 1480, 1482, 1484, 1486, 1488, 1490, 1492, 1494, 1496, 1498, 1500, 1502, 1504, 1506, 1508, 1510, 1512, 1514, 1516, 1518, 1520, 1522, 1524, 1526, 1528, 1530, 1532, 1534, 1536, 1538, 1540, 1542, 1544, 1546, 1548, 1550, 1552, 1554, 1556, 1558, 1560, 1562, 1564, 1566, 1568, 1570, 1572, 1574, 1576, 1578, 1580, 1582, 1584, 1586, 1588, 1590, 1592, 1594, 1596, 1598, 1600, 1602, 1604, 1606, 1608, 1610, 1612, 1614, 1616, 1618, 1620, 1622, 1624, 1626, 1628, 1630, 1632, 1634, 1636, 1638, 1640, 1642, 1644, 1646, 1648, 1650, 1652, 1654, 1656, 1658, 1660, 1662, 1664, 1666, 1668, 1670, 1672, 1674, 1676, 1678, 1680, 1682, 1684, 1686, 1688, 1690, 1692, 1694, 1696, 1698, 1700, 1702, 1704, 1706, 1708, 1710, 1712, 1714, 1716, 1718, 1720, 1722, 1724, 1726, 1728, 1730, 1732, 1734, 1736, 1738, 1740, 1742, 1744, 1746, 1748, 1750, 1752, 1754, 1756, 1758, 1760, 1762, 1764, 1766, 1768, 1770, 1772, 1774, 1776, 1778, 1780, 1782, 1784, 1786, 1788, 1790, 1792, 1794, 1796, 1798, 1800, 1802, 1804, 1806, 1808, 1810, 1812, 1814, 1816, 1818, 1820, 1822, 1824, 1826, 1828, 1830, 1832, 1834, 1836, 1838, 1840, 1842, 1844, 1846, 1848, 1850, 1852, 1854, 1856, 1858, 1860, 1862, 1864, 1866, 1868, 1870, 1872, 1874, 1876, 1878, 1880, 1882, 1884, 1886, 1888, 1890, 1892, 1894, 1896, 1898, 1900, 1902, 1904, 1906, 1908, 1910, 1912, 1914, 1916, 1918, 1920, 1922, 1924, 1926, 1928, 1930, 1932, 1934, 1936, 1938, 1940, 1942, 1944, 1946, 1948, 1950, 1952, 1954, 1956, 1958, 1960, 1962, 1964, 1966, 1968, 1970, 1972, 1974, 1976, 1978, 1980, 1982, 1984, 1986, 1988, 1990, 1992, 1994, 1996, 1998, 2000, 2002, 2004, 2006, 2008, 2010, 2012, 2014, 2016, 2018, 2020, 2022, 2024, 2026, 2028, 2030, 2032, 2034, 2036, 2038, 2040, 2042, 2044, 2046, 2048, 2050, 2052, 2054, 2056, 2058, 2060, 2062, 2064, 2066, 2068, 2070, 2072, 2074, 2076, 2078, 2080, 2082, 2084, 2086, 2088, 2090, 2092, 2094, 2096, 2098, 2100, 2102, 2104, 2106, 2108, 2110, 2112, 2114, 2116, 2118, 2120, 2122, 2124, 2126, 2128, 2130, 2132, 2134, 2136, 2138, 2140, 2142, 2144, 2146, 2148, 2150, 2152, 2154, 2156, 2158, 2160, 2162, 2164, 2166, 2168, 2170, 2172, 2174, 2176, 2178, 2180, 2182, 2184, 2186, 2188, 2190, 2192, 2194, 2196, 2198, 2200, 2202, 2204, 2206, 2208, 2210, 2212, 2214, 2216, 2218, 2220, 2222, 2224, 2226, 2228, 2230, 2232, 2234, 2236, 2238, 2240, 2242, 2244, 2246, 2248, 2250, 2252, 2254, 2256, 2258, 2260, 2262, 2264, 2266, 2268, 2270, 2272, 2274, 2276, 2278, 2280, 2282, 2284, 2286, 2288, 2290, 2292, 2294, 2296, 2298, 2300, 2302, 2304, 2306, 2308, 2310, 2312, 2314, 2316, 2318, 2320, 2322, 2324, 2326, 2328, 2330, 2332, 2334, 2336, 2338, 2340, 2342, 2344, 2346, 2348, 2350, 2352, 2354, 2356, 2358, 2360, 2362, 2364, 2366, 2368, 2370, 2372, 2374, 2376, 2378, 2380, 2382, 2384, 2386, 2388, 2390, 2392, 2394, 2396, 2398, 2400, 2402, 2404, 2406, 2408, 2410, 2412, 2414, 2416, 2418, 2420, 2422, 2424, 2426, 2428, 2430, 2432, 2434, 2436, 2438, 2440, 2442, 2444, 2446, 2448, 2450, 2452, 2454, 2456, 2458, 2460, 2462, 2464, 2466, 2468, 2470, 2472, 2474, 2476, 2478, 2480, 2482, 2484, 2486, 2488, 2490, 2492, 2494, 2496, 2498, 2500, 2502, 2504, 2506, 2508, 2510, 2512, 2514, 2516, 2518, 2520, 2522, 2524, 2526, 2528, 2530, 2532, 2534, 2536, 2538, 2540, 2542, 2544, 2546, 2548, 2550, 2552, 2554, 2556, 2558, 2560, 2562, 2564, 2566, 2568, 2570, 2572, 2574, 2576, 2578, 2580, 2582, 2584, 2586, 2588, 2590, 2592, 2594, 2596, 2598, 2600, 2602, 2604, 2606, 2608, 2610, 2612, 2614, 2616, 2618, 2620, 2622, 2624, 2626, 2628, 2630, 2632, 2634, 2636, 2638, 2640, 2642, 2644, 2646, 2648, 2650, 2652, 2654, 2656, 2658, 2660, 2662, 2664, 2666, 2668, 2670, 2672, 2674, 2676, 2678, 2680, 2682, 2684, 2686, 2688, 2690, 2692, 2694, 2696, 2698, 2700, 2702, 2704, 2706, 2708, 2710, 2712, 2714, 2716, 2718, 2720, 2722, 2724, 2726, 2728, 2730, 2732, 2734, 2736, 2738, 2740, 2742, 2744, 2746, 2748, 2750, 2752, 2754, 2756, 2758, 2760, 2762, 2764, 2766, 2768, 2770, 2772, 2774, 2776, 2778, 2780, 2782, 2784, 2786, 2788, 2790, 2792, 2794, 2796, 2798, 2800, 2802, 2804, 2806, 2808, 2810, 2812, 2814, 2816, 2818, 2820, 2822, 2824, 2826, 2828, 2830, 2832, 2834, 2836, 2838, 2840, 2842, 2844, 2846, 2848, 2850, 2852, 2854, 2856, 2858, 2860, 2862, 2864, 2866, 2868, 2870, 2872, 2874, 2876, 2878, 2880, 2882, 2884, 2886, 2888, 2890, 2892, 2894, 2896, 2898, 2900, 2902, 2904, 2906, 2908, 2910, 2912, 2914, 2916, 2918, 2920, 2922, 2924, 2926, 2928, 2930, 2932, 2934, 2936, 2938, 2940, 2942, 2944, 2946, 2948, 2950, 2952, 2954, 2956, 2958, 2960, 2962, 2964, 2966, 2968, 2970, 2972, 2974, 2976, 2978, 2980, 2982, 2984, 2986, 2988, 2990, 2992, 2994, 2996, 2998, 3000, 3002, 3004, 3006, 3008, 3010, 3012, 3014, 3016, 3018, 3020, 3022, 3024, 3026, 3028, 3030, 3032, 3034, 3036, 3038, 3040, 3042, 3044, 3046, 3048, 3050, 3052, 3054, 3056, 3058, 3060, 3062, 3064, 3066, 3068, 3070, 3072, 3074, 3076, 3078, 3080, 3082, 3084, 3086, 3088, 3090, 3092, 3094, 3096, 3098, 3100, 3102, 3104, 3106, 3108, 3110, 3112, 3114, 3116, 3118, 3120, 3122, 3124, 3126, 3128, 3130, 3132, 3134, 3136, 3138, 3140, 3142, 3144, 3146, 3148, 3150, 3152, 3154, 3156, 3158, 3160, 3162, 3164, 3166, 3168, 3170, 3172, 3174, 3176, 3178, 3180, 3182, 3184, 3186, 3188, 3190, 3192, 3194, 3196, 3198, 3200, 3202, 3204, 3206, 3208, 3210, 3212, 3214, 3216, 3218, 3220, 3222, 3224, 3226, 3228, 3230, 3232, 3234, 3236, 3238, 3240, 3242, 3244, 3246, 3248, 3250, 3252, 3254, 3256, 3258, 3260, 3262, 3264, 3266, 3268, 3270, 3272, 3274, 3276, 3278, 3280, 3282, 3284, 3286, 3288, 3290, 3292, 3294, 3296, 3298, 3300, 3302, 3304, 3306, 3308, 3310, 3312, 3314, 3316, 3318, 3320, 3322, 3324, 3326, 3328, 3330, 3332, 3334, 3336, 3338, 3340, 3342, 3344, 3346, 3348, 3350, 3352, 3354, 3356, 3358, 3360, 3362, 3364, 3366, 3368, 3370, 3372, 3374, 3376, 3378, 3380, 3382, 3384, 3386, 3388, 3390, 3392, 3394, 3396, 3398, 3400, 3402, 3404, 3406, 3408, 3410, 3412, 3414, 3416, 3418, 3420, 3422, 3424, 3426, 3428, 3430, 3432, 3434, 3436, 3438, 3440, 3442, 3444, 3446, 3448, 3450, 3452, 3454, 3456, 3458, 3460, 3462, 3464, 3466, 3468, 3470, 3472, 3474, 3476, 3478, 3480, 3482, 3484, 3486, 3488, 3490, 3492, 3494, 3496, 3498, 3500, 3502, 3504, 3506, 3508, 3510, 3512, 3514, 3516, 3518, 3520, 3522, 3524, 3526, 3528, 3530, 3532, 3534, 3536, 3538, 3540, 3542, 3544, 3546, 3548, 3550, 3552, 3554, 3556, 3558, 3560, 3562, 3564, 3566, 3568, 3570, 3572, 3574, 3576, 3578, 3580, 3582, 3584, 3586, 3588, 3590, 3592, 3594, 3596, 3598, 3600, 3602, 3604, 3606, 3608, 3610, 3612, 3614, 3616, 3618, 3620, 3622, 3624, 3626, 3628, 3630, 3632, 3634, 3636, 3638, 3640, 3642, 3644, 3646, 3648, 3650, 3652, 3654, 3656, 3658, 3660, 3662, 3664, 3666, 3668, 3670, 3672, 3674, 3676, 3678, 3680, 3682, 3684, 3686, 3688, 3690, 3692, 3694, 3696, 3698, 3700, 3702, 3704, 3706, 3708, 3710, 3712, 3714, 3716, 3718, 3720, 3722, 3724, 3726, 3728, 3730, 3732, 3734, 3736, 3738, 3740, 3742, 3744, 3746, 3748, 3750, 3752, 3754, 3756, 3758, 3760, 3762, 3764, 3766, 3768, 3770, 3772, 3774, 3776, 3778, 3780, 3782, 3784, 3786, 3788, 3790, 3792, 3794, 3796, 3798, 3800, 3802, 3804, 3806, 3808, 3810, 3812, 3814, 3816, 3818, 3820, 3822, 3824, 3826, 3828, 3830, 3832, 3834, 3836, 3838, 3840, 3842, 3844, 3846, 3848, 3850, 3852, 3854, 3856, 3858, 3860, 3862, 3864, 3866, 3868, 3870, 3872, 3874, 3876, 3878, 3880, 3882, 3884, 3886, 3888, 3890, 3892, 3894, 3896, 3898, 3900, 3902, 3904, 3906, 3908, 3910, 3912, 3914, 3916, 3918, 3920, 3922, 3924, 3926, 3928, 3930, 3932, 3934, 3936, 3938, 3940, 3942, 3944, 3946, 3948, 3950, 3952, 3954, 3956, 3958, 3960, 3962, 3964, 3966, 3968, 3970, 3972, 3974, 3976, 3978, 3980, 3982, 3984, 3986, 3988, 3990, 3992, 3994, 3996, 3998, 4000, 4002, 4004, 4006, 4008, 4010, 4012, 4014, 4016, 4018, 4020, 4022, 4024, 4026, 4028, 4030, 4032, 4034, 4036, 4038, 4040, 4042, 4044, 4046, 4048, 4050, 4052, 4054, 4056, 4058, 4060, 4062, 4064, 4066, 4068, 4070, 4072, 4074, 4076, 4078, 4080, 4082, 4084, 4086, 4088, 4090, 4092, 4094, 4096, 4098, 4100, 4102, 4104, 4106, 4108, 4110, 4112, 4114, 4116, 4118, 4120, 4122, 4124, 4126, 4128, 4130, 4132, 4134, 4136, 4138, 4140, 4142, 4144, 4146, 4148, 4150, 4152, 4154, 4156, 4158, 4160, 4162, 4164, 4166, 4168, 4170, 4172, 4174, 4176, 4178, 4180, 4182, 4184, 4186, 4188, 4190, 4192, 4194, 4196, 4198, 4200, 4202, 4204, 4206, 4208, 4210, 4212, 4214, 4216, 4218, 4220, 4222, 4224, 4226, 4228, 4230, 4232, 4234, 4236, 4238, 4240, 4242, 4244, 4246, 4248, 4250, 4252, 4254, 4256, 4258, 4260, 4262, 4264, 4266, 4268, 4270, 4272, 4274, 4276, 4278, 4280, 4282, 4284, 4286, 4288, 4290, 4292, 4294, 4296, 4298, 4300, 4302, 4304, 4306, 4308, 4310, 4312, 4314, 4316, 4318, 4320, 4322, 4324, 4326, 4328, 4330, 4332, 4334, 4336, 4338, 4340, 4342, 4344, 4346, 4348, 4350, 4352, 4354, 4356, 4358, 4360, 4362, 4364, 4366, 4368, 4370, 4372, 4374, 4376, 4378, 4380, 4382, 4384, 4386, 4388, 4390, 4392, 4394, 4396, 4398, 4400, 4402, 4404, 4406, 4408, 4410, 4412, 4414, 4416, 4418, 4420, 4422, 4424, 4426, 4428, 4430, 4432, 4434, 4436, 4438, 4440, 4442, 4444, 4446, 4448, 4450, 4452, 4454, 4456, 4458, 4460, 4462, 4464, 4466, 4468, 4470, 4472, 4474, 4476, 4478, 4480, 4482, 4484, 4486, 4488, 4490, 4492, 4494, 4496, 4498, 4500, 4502, 4504, 4506, 4508, 4510, 4512, 4514, 4516, 4518, 4520, 4522, 4524, 4526, 4528, 4530, 4532, 4534, 4536, 4538, 4540, 4542, 4544, 4546, 4548, 4550, 4552, 4554, 4556, 4558, 4560, 4562, 4564, 4566, 4568, 4570, 4572, 4574, 4576, 4578, 4580, 4582, 4584, 4586, 4588, 4590, 4592, 4594, 4596, 4598, 4600, 4602, 4604, 4606, 4608, 4610, 4612, 4614, 4616, 4618, 4620, 4622, 4624, 4626, 4628, 4630, 4632, 4634, 4636, 4638, 4640, 4642, 4644, 4646, 4648, 4650, 4652, 4654, 4656, 4658, 4660, 4662, 4664, 4666, 4668, 4670, 4672, 4674, 4676, 4678, 4680, 4682, 4684, 4686, 4688, 4690, 4692, 4694, 4696, 4698, 4700, 4702, 4704, 4706, 4708, 4710, 4712, 4714, 4716, 4718, 4720, 4722, 4724, 4726, 4728, 4730, 4732, 4734, 4736, 4738, 4740, 4742, 4744, 4746, 4748, 4750, 4752, 4754, 4756, 4758, 4760, 4762, 4764, 4766, 4768, 4770, 4772, 4774, 4776, 4778, 4780, 4782, 4784, 4786, 4788, 4790, 4792, 4794, 4796, 4798, 4800, 4802, 4804, 4806, 4808, 4810, 4812, 4814, 4816, 4818, 4820, 4822, 4824, 4826, 4828, 4830, 4832, 4834, 4836, 4838, 4840, 4842, 4844, 4846, 4848, 4850, 4852, 4854, 4856, 4858, 4860, 4862, 4864, 4866, 4868, 4870, 4872, 4874, 4876, 4878, 4880, 4882, 4884, 4886, 4888, 4890, 4892, 4894, 4896, 4898, 4900, 4902, 4904, 4906, 4908, 4910, 4912, 4914, 4916, 4918, 4920, 4922, 4924, 4926, 4928, 4930, 4932, 4934, 4936, 4938, 4940, 4942, 4944, 4946, 4948, 4950, 4952, 4954, 4956, 4958, 4960, 4962, 4964, 4966, 4968, 4970, 4972, 4974, 4976, 4978, 4980, 4982, 4984, 4986, 4988, 4990, 4992, 4994, 4996, 4998, 5000]

In [ ]:
name = ['harsh','aman','vidit','vikas','vaibhav']

#### Q) Find if "Vidit" Exists in this list, if yes print found else print not found

In [ ]:
len(name)

5

In [ ]:
Flag = False

for i in range(len(name)):
  if name[i] == 'vidit':
    Flag = True

if Flag:
  print('Found')
else:
  print('NOt Found')

Found

In [ ]:
name = ['harsh','aman','vidit','vikas','vaibhav']

In [ ]:
print(name[1:2:2])

['aman']

In [ ]:
## List Slicing

print(name[::-2])

['vaibhav', 'vidit', 'harsh']

In [ ]:
name = ['harsh','aman','vidit','vikas','vaibhav']

In [ ]:
name.append('Hey')
print(name)

['harsh', 'aman', 'vidit', 'vikas', 'vaibhav', 'Hey']

In [ ]:
name.insert(1,'Hello')
print(name)

['harsh', 'Hello', 'aman', 'vidit', 'vikas', 'vaibhav', 'Hey']

In [ ]:
name.remove('Hey')
print(name)

['harsh', 'Hello', 'aman', 'vidit', 'vikas', 'vaibhav']

In [ ]:
popped_element = name.pop()
print(popped_element)
print(name)

IndexError: pop from empty list

List Comprehension

* Basics Syantax [expression for item in iterable]

* with conditional logic [expression for item in iterable if condition]

* Nested List Comprehension [expression for item1 in iterable1 for item2 in iterable2]

In [ ]:
lst = []

for i in range(1,11):
  lst.append(i*i)

print(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
[i*i for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
lst = []

for i in range(1,51):
  if i % 2 == 0:
    lst.append(i)

print(lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [ ]:
print([i for i in range(1,51) if i % 2 == 0])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [ ]:
lst = []

for i in range(1,7):
  for j in range(1,7):
    lst.append((i,j))

print(lst)

[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)]

In [ ]:
print([(i,j) for i in range(1,7) for j in range(1,7)])

[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)]

In [ ]:
lst = [1,2,3,4,[3,4,5]]
print(lst[4][2])

5

In [ ]:
lst = [1,2,3,[2,3,4,[6,7,8],[7,8,9],[3,4,6,[11]]]]

In [ ]:
lst[3][5][3][0]

11

In [ ]:
lst = [[1,2,3,4,5],
       [5,6,7,3,5],
       [5,6,8,4,2],
       [7,9,6,3,5],
       [3,5,7,8,9]]

In [ ]:
(0,4) (1,3) (2,2)

27

In [ ]:
sum = 0

for i in range(len(lst)):
  for j in range(len(lst)):
    if i == j:
      sum = sum + lst[i][j]

print(sum)

27

In [ ]:
sum = 0

for i in range(len(lst)):
  for j in range(len(lst)):
    if i + j == len(lst) - 1:
      sum = sum + lst[i][j]

print(sum)

28

In [ ]:
subject = ['English','Maths','Physics','Chem','Bio']
marks = [45,76,23,68,97]
sum = 0

for i in range(0,len(marks)):
  sum = sum + marks[i]

avg = sum / len(marks)
print(avg)

61.8

In [ ]:
'''
GRADES

90 - 100 -> A
80 - 90 -> B
..

..
anything less than 40 is FAIL
'''

In [ ]:
'''
ENGLISH 45 B

'''

In [ ]:
subject = ['English','Maths','Physics','Chem','Bio']
marks = [45,76,23,68,97]

In [ ]:
'''
English 45 PASS
MATHS 76 PASS

'''

In [ ]:
for i in range(len(marks)):
  if marks[i] > 33:
    print(f"{subject[i]} {marks[i]} PASS")
  else:
    print(f"{subject[i]} {marks[i]} FAIL")

English 45 PASS
Maths 76 PASS
Physics 23 FAIL
Chem 68 PASS
Bio 97 PASS

In [ ]:
'''
GRADES

90 - 100 -> A
80 - 90 -> B
..

..
anything less than 40 is FAIL
'''

In [ ]:
for i in range(len(marks)):
  if 100 >= marks[i] >= 90:
    print(f"{subject[i]} {marks[i]} A")
  elif 90 > marks[i] > 80:
    print(f"{subject[i]} {marks[i]} B")
  elif 80 > marks[i] > 70:
    print(f"{subject[i]} {marks[i]} c")
  elif 70 > marks[i] > 60:
    print(f"{subject[i]} {marks[i]} d")
  else:
    print(f"{subject[i]} {marks[i]} FAIL")

English 45 FAIL
Maths 76 c
Physics 23 FAIL
Chem 68 d
Bio 97 A

# Tuple

In [ ]:
tup = ()
print(tup)
print(type(tup))

()
<class 'tuple'>

In [ ]:
tup = (1,2,3,4,"Asd","dlis",3.23,5.75,75.53,True,False)
print(tup)

(1, 2, 3, 4, 'Asd', 'dlis', 3.23, 5.75, 75.53, True, False)

In [ ]:
print(tup[2])

3

In [ ]:
tup = list(tup)

In [ ]:
tup[4] = 12
print(tup)

[1, 2, 3, 4, 12, 'dlis', 3.23, 5.75, 75.53, True, False]

In [ ]:
tup = tuple(tup)

In [ ]:
tup = 1,34,'Harsh',56.54
print(tup)
print(type(tup))

(1, 34, 'Harsh', 56.54)
<class 'tuple'>

In [ ]:
tup = (1,2,3)

In [ ]:
a,b,c = tup
print(a)
print(b)
print(c)

1
2
3

In [ ]:
tup = (1,2,3,4,'hatsh','Trds',True)

a,*b,c = tup
print(a)
print(b)
print(c)

1
[2, 3, 4, 'hatsh', 'Trds']
True

# Set

In [ ]:
se = {1}
print(se)
print(type(se))

{1}
<class 'set'>

In [ ]:
s = {1,23,45,67,23,6,'Harsh',1,1,1,1,1,1}
print(s)

{1, 67, 6, 23, 'Harsh', 45}

In [ ]:
st = 'Hey thi is sdh sfk'
print(st.split())

['Hey', 'thi', 'is', 'sdh', 'sfk']

#### Find Unique Words in this

In [ ]:
s = 'This is a classroom of Python and we are learning Python today in this classroom'

a = s.split()
a = set(a)
print(a)
print(len(a))

{'classroom', 'This', 'of', 'today', 'Python', 'we', 'learning', 'and', 'are', 'in', 'this', 'a', 'is'}
13

In [ ]:
lst = [1,2,3,(2,3,45),[5,6,7,8],(23,[6,7,8],{2,4,56})]
print(lst)
print(type(lst))

[1, 2, 3, (2, 3, 45), [5, 6, 7, 8], (23, [6, 7, 8], {56, 2, 4})]
<class 'list'>

In [ ]:
tip = (1,2,[2,4,6,6],[3,5,6])
print(tip)
print(type(tip))

(1, 2, [2, 4, 6, 6], [3, 5, 6])
<class 'tuple'>

In [ ]:
set1 = {2,3,5,7}
set2 = {6,8,3,2,4,5}

# print(set1.union(set2))
# print(set2.difference(set1))
# print(set2.intersection(set1))

{2, 3, 5}

# Dictionary

In [ ]:
dic = dict()
print(dic)
print(type(dic))

{}
<class 'dict'>

In [ ]:
dic = {1:'Harsh',2:'ABC',3:'CDE',1:'Amit'}
print(dic)

{1: 'Amit', 2: 'ABC', 3: 'CDE'}

In [ ]:
dic[4] = 'Divij'
print(dic)

{1: 'Amit', 2: 'ABC', 3: 'CDE', 4: 'Divij'}

In [ ]:
dic['ABC'] = 12
print(dic)

{1: 'Amit', 2: 'ABC', 3: 'CDE', 4: 'Divij', 'ABC': 12}

In [ ]:
print(dic.keys())
print(dic.values())
print(dic.items())

dict_keys([1, 2, 3, 4, 'ABC'])
dict_values(['Amit', 'ABC', 'CDE', 'Divij', 12])
dict_items([(1, 'Amit'), (2, 'ABC'), (3, 'CDE'), (4, 'Divij'), ('ABC', 12)])

In [ ]:
print(dic)

{1: 'Amit', 2: 'ABC', 3: 'CDE', 4: 'Divij', 'ABC': 12}

In [ ]:
print(dic['ABC'])

12

In [ ]:
print(dic.get('Amit','Invalid'))

Invalid

In [ ]:
dic

{1: 'Amit', 2: 'ABC', 3: 'CDE', 4: 'Divij', 'ABC': 12}

In [ ]:
dic_copy = dic
print(dic_copy)
print(dic)

{1: 'Amit', 2: 'ABC', 3: 'CDE', 4: 'Divij', 'ABC': 12}
{1: 'Amit', 2: 'ABC', 3: 'CDE', 4: 'Divij', 'ABC': 12}

In [ ]:
dic[5] = 'Vikas'
print(dic)

{1: 'Amit', 2: 'ABC', 3: 'CDE', 4: 'Divij', 'ABC': 12, 5: 'Vikas'}

In [ ]:
print(dic_copy)

{1: 'Amit', 2: 'ABC', 3: 'CDE', 4: 'Divij', 'ABC': 12, 5: 'Vikas'}

In [ ]:
dic_copy1 = dic.copy()

In [ ]:
print(dic_copy1)
print(dic)

{1: 'Amit', 2: 'ABC', 3: 'CDE', 4: 'Divij', 'ABC': 12, 5: 'Vikas'}
{1: 'Amit', 2: 'ABC', 3: 'CDE', 4: 'Divij', 'ABC': 12, 5: 'Vikas'}

In [ ]:
dic[7] = 'AAA'
print(dic)
print(dic_copy1)

{1: 'Amit', 2: 'ABC', 3: 'CDE', 4: 'Divij', 'ABC': 12, 5: 'Vikas', 7: 'AAA'}
{1: 'Amit', 2: 'ABC', 3: 'CDE', 4: 'Divij', 'ABC': 12, 5: 'Vikas'}

In [ ]:
dic

{1: 'Amit', 2: 'ABC', 3: 'CDE', 4: 'Divij', 'ABC': 12, 5: 'Vikas', 7: 'AAA'}

In [ ]:
for i in dic.keys():
  print(i)

1
2
3
4
ABC
5
7

In [ ]:
for  i in dic.values():
  print(i)

Amit
ABC
CDE
Divij
12
Vikas
AAA

In [ ]:
for i in dic.keys():
  print(f"{i} {dic[i]}")

1 Amit
2 ABC
3 CDE
4 Divij
ABC 12
5 Vikas
7 AAA

In [ ]:
for i,j in dic.items():
  if j == 'Vikas':
    print(i,j)

5 Vikas

In [ ]:
d = {
    'Class_1':['Harsh','Amit','Chinmoy'],
    'Marks':[23,56,34]
}

In [ ]:
d

{'Class_1': ['Harsh', 'Amit', 'Chinmoy'], 'Marks': [23, 56, 34]}

In [ ]:
d['Class_1']

['Harsh', 'Amit', 'Chinmoy']

In [ ]:
d = {
    123:{'name':'Harsh','age':26,'country':'India'},
    124:{'name':'ABC','age':27,'country':'India'}
}

In [ ]:
d

{123: {'name': 'Harsh', 'age': 26, 'country': 'India'},
 124: {'name': 'ABC', 'age': 27, 'country': 'India'}}

In [ ]:
for i,j in d.items():
  for l,m in j.items():
    print(l,m)

name Harsh
age 26
country India
name ABC
age 27
country India

In [ ]:
students = {
    "S001": {
        "name": "Alice Johnson",
        "age": 17,
        "section": "A",
        "roll_no": 1,
        "marks": {
            "Mathematics": 88,
            "Physics": 92,
            "Chemistry": 85
        }
    },
    "S002": {
        "name": "Rahul Kumar",
        "age": 18,
        "section": "B",
        "roll_no": 2,
        "marks": {
            "Mathematics": 79,
            "Physics": 81,
            "Chemistry": 78
        }
    },
    "S003": {
        "name": "Sneha Patel",
        "age": 17,
        "section": "A",
        "roll_no": 3,
        "marks": {
            "Mathematics": 95,
            "Physics": 89,
            "Chemistry": 94
        }
    },
    "S004": {
        "name": "Mohammed Farhan",
        "age": 18,
        "section": "C",
        "roll_no": 4,
        "marks": {
            "Mathematics": 72,
            "Physics": 76,
            "Chemistry": 70
        }
    },
    "S005": {
        "name": "Priya Singh",
        "age": 17,
        "section": "B",
        "roll_no": 5,
        "marks": {
            "Mathematics": 83,
            "Physics": 88,
            "Chemistry": 90
        }
    }
}

In [ ]:
for i,j in students.items():
  # print(i,j)
  print('Name    :',j['name'])
  print('Age     : ',j['age'])
  print('Section :',j['section'])
  print('Roll No :',j['roll_no'])
  print("*" * 25)

Name    : Alice Johnson
Age     :  17
Section : A
Roll No : 1
*************************
Name    : Rahul Kumar
Age     :  18
Section : B
Roll No : 2
*************************
Name    : Sneha Patel
Age     :  17
Section : A
Roll No : 3
*************************
Name    : Mohammed Farhan
Age     :  18
Section : C
Roll No : 4
*************************
Name    : Priya Singh
Age     :  17
Section : B
Roll No : 5
*************************

In [ ]:
'''

Name :
Age  :
Section :
Roll_No :
AVG Marks:

*************

Name :
Age  :
Section :
Roll_No :
AVG Marks:

**************

Name :
Age  :
Section :
Roll_No :
AVG Marks:


'''

In [ ]:
## Q) Using dictionary find the occurance of each element in this list

lst = [1,1,1,2,2,3,3,3,3,4,4,4,5,5,5]
freq = {}

In [ ]:
for i in lst:
  if i in freq:
    freq[i] += 1
  else:
    freq[i] = 1

print(freq)

{1: 3, 2: 2, 3: 4, 4: 3, 5: 3}

In [ ]:
{1:3,2:2,3:4,4:3,5:3}

# Numpy

In [ ]:
import streamlit

In [ ]:
!pip install streamlit

Requirement already satisfied: streamlit in /usr/local/lib/python3.11/dist-packages (1.45.1)
Requirement already satisfied: altair<6,>=4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (5.5.0)
Requirement already satisfied: blinker<2,>=1.5.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (1.9.0)
Requirement already satisfied: cachetools<6,>=4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (5.5.2)
Requirement already satisfied: click<9,>=7.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (8.2.1)
Requirement already satisfied: numpy<3,>=1.23 in /usr/local/lib/python3.11/dist-packages (from streamlit) (2.0.2)
Requirement already satisfied: packaging<25,>=20 in /usr/local/lib/python3.11/dist-packages (from streamlit) (24.2)
Requirement already satisfied: pandas<3,>=1.4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (2.2.2)
Requirement already satisfied: pillow<12,>=7.1.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (11.2.1)
Requirement already satisfied: protobuf<7,>=3.20 in /usr/local/lib/python3.11/dist-packages (from streamlit) (5.29.5)
Requirement already satisfied: pyarrow>=7.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (18.1.0)
Requirement already satisfied: requests<3,>=2.27 in /usr/local/lib/python3.11/dist-packages (from streamlit) (2.32.3)
Requirement already satisfied: tenacity<10,>=8.1.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (9.1.2)
Requirement already satisfied: toml<2,>=0.10.1 in /usr/local/lib/python3.11/dist-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (4.14.0)
Requirement already satisfied: watchdog<7,>=2.1.5 in /usr/local/lib/python3.11/dist-packages (from streamlit) (6.0.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /usr/local/lib/python3.11/dist-packages (from streamlit) (3.1.44)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in /usr/local/lib/python3.11/dist-packages (from streamlit) (0.9.1)
Requirement already satisfied: tornado<7,>=6.0.3 in /usr/local/lib/python3.11/dist-packages (from streamlit) (6.4.2)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.11/dist-packages (from altair<6,>=4.0->streamlit) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.11/dist-packages (from altair<6,>=4.0->streamlit) (4.24.0)
Requirement already satisfied: narwhals>=1.14.2 in /usr/local/lib/python3.11/dist-packages (from altair<6,>=4.0->streamlit) (1.41.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.11/dist-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.12)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=1.4.0->streamlit) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=1.4.0->streamlit) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=1.4.0->streamlit) (2025.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (2025.4.26)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.11/dist-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.11/dist-packages (from jinja2->altair<6,>=4.0->streamlit) (3.0.2)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2025.4.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.25.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit) (1.17.0)

In [ ]:
import numpy as np

In [ ]:
# lst = [1,2,3,4,5]
# print(type(lst))

arr = np.array(lst,ndmin = 4)
print(type(arr))
print(arr)

<class 'numpy.ndarray'>
[[[[1 2 3 4 5]]]]

In [ ]:
arr = np.arange(1,10,2)
arr

array([1, 3, 5, 7, 9])

In [ ]:
arr = np.array([[1,2,3],[4,5,6],[7,8,9]],ndmin = 3)

arr

array([[[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]])

In [ ]:
arr = np.array([[1,2,3],[4,5,6],[7,8,9],[1,2,3]])

print('Total : ', arr.size)
print('Rows  : ', np.size(arr,0))
print('Cols  : ', np.size(arr,1))

arr

Total :  12
Rows  :  4
Cols  :  3

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9],
       [1, 2, 3]])

In [ ]:
arr = np.array([[1,2,3],[4,5,6],[7,8,9],[1,2,3]])
arr.shape

(4, 3)

In [ ]:
arr = np.ones(shape = (3,5), dtype = int)

print(arr)

[[1 1 1 1 1]
 [1 1 1 1 1]
 [1 1 1 1 1]]

In [ ]:
np.eye(4, dtype = int)

array([[1, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1]])

In [ ]:
np.random.rand(3,4)

array([[0.28555696, 0.62540625, 0.99784109, 0.65351931],
       [0.80185321, 0.11857447, 0.74186818, 0.57763913],
       [0.08386994, 0.62842936, 0.7508591 , 0.32397435]])

In [ ]:
np.random.randint(low = 1, high = 10, size = 10)

array([3, 8, 8, 8, 2, 5, 2, 8, 4, 7])

In [ ]:
import numpy as np

In [ ]:
import matplotlib.pyplot as plt

plt.hist(np.random.randn(10000000), bins = 10000000);

KeyboardInterrupt:

Error in callback <function _draw_all_if_interactive at 0x7985dc8abec0> (for post_execute):

KeyboardInterrupt:

Error in callback <function flush_figures at 0x7985dc8a9800> (for post_execute):

KeyboardInterrupt:

In [ ]:
git clone "https://github.com/HarshvardhanSingh-13/Datasets"

SyntaxError: invalid syntax (<ipython-input-1-4247074606>, line 1)

In [ ]:
!git clone "https://github.com/HarshvardhanSingh-13/Datasets"

Cloning into 'Datasets'...
remote: Enumerating objects: 287, done.
remote: Counting objects: 100% (45/45), done.
remote: Compressing objects: 100% (42/42), done.
remote: Total 287 (delta 10), reused 0 (delta 0), pack-reused 242 (from 1)
Receiving objects: 100% (287/287), 301.25 MiB | 33.91 MiB/s, done.
Resolving deltas: 100% (124/124), done.
Updating files: 100% (231/231), done.

In [ ]:
import numpy as np

In [ ]:
arr = np.zeros(shape = (8,8), dtype = int)

print(arr)

[[0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0]]

In [ ]:
for i in range(np.size(arr,0)):
  for j in range(np.size(arr,0)):
    if (i + j)%2 == 0:
      arr[i][j] = 1

print(arr)

[[1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]]

In [ ]:
import pandas as pd

In [ ]:
lst = [1,2,3,4,5]

pd.Series(lst)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
pd.Series(index = ['Eshant', 'Pranjal', 'Jayesh', 'Ashish'], data = [1,2,3,4])

Eshant     1
Pranjal    2
Jayesh     3
Ashish     4
dtype: int64

In [ ]:
steps = {'day1' : 4000, 'day2' : 3000, 'day3' : 12000}

pd.Series(steps)

day1     4000
day2     3000
day3    12000
dtype: int64

In [ ]:
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks']

pd.DataFrame(lst)

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [ ]:
lst = [['tom',10],['jerry',12],['spike',14]]

pd.DataFrame(lst)

       0   1
0    tom  10
1  jerry  12
2  spike  14

In [ ]:
data = { 'Name'         :['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age'          :[27, 24, 22, 32],
         'Address'      :['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
         'Qualification':['Msc', 'MA', 'MCA', 'Phd']}

df = pd.DataFrame(data)

df

     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd

In [ ]:
df = pd.read_csv('/content/Datasets/Airbnb/airbnb_v2.csv')

In [ ]:
df

,Unnamed: 0,id,name,rating,reviews,host_name,host_id,address,features,amenities,...,price,country,bathrooms,beds,guests,toiles,bedrooms,studios,checkin,checkout
0,0,49849504,Perla bungalov,4.71,64,Mehmetcan,357334205.0,"Kartepe, Kocaeli, Turkey","2 guests,2 bedrooms,1 bed,1 bathroom","Mountain view,Valley view,Lake access,Kitchen,...",...,8078,Turkey,1,1,2,0,2,0,Flexible,12 00 pm
1,1,50891766,Authentic Beach Architect Sheltered Villa with...,New,0,Fatih,386223873.0,"Ka, Antalya, Turkey","4 guests,2 bedrooms,2 beds,2 bathrooms","Kitchen,Wifi,Dedicated workspace,Free parking ...",...,4665,Turkey,2,2,4,0,2,0,4 00 pm - 11 00 pm,10 00 am
2,2,50699164,cottages sataplia,4.85,68,Giorgi,409690853.0,"Imereti, Georgia","4 guests,1 bedroom,3 beds,1 bathroom","Mountain view,Kitchen,Wifi,Dedicated workspace...",...,5991,Georgia,1,3,4,0,1,0,After 1 00 pm,12 00 pm
3,3,49871422,Sapanca Breathable Bungalow,5.0,13,Melih,401873242.0,"Sapanca, Sakarya, Turkey","4 guests,1 bedroom,2 beds,1 bathroom","Mountain view,Valley view,Kitchen,Wifi,Free pa...",...,11339,Turkey,1,2,4,0,1,0,After 2 00 pm,12 00 pm
4,4,51245886,Bungalov Ev 2,New,0,Arp Sapanca,414884116.0,"Sapanca, Sakarya, Turkey","2 guests,1 bedroom,1 bed,1 bathroom","Kitchen,Wifi,Free parking on premises,TV,Air c...",...,6673,Turkey,1,1,2,0,1,0,After 2 00 pm,12 00 pm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12800,12800,44697740,"Brown Dome House No. 3, full of healing",4.94,16,Aidan,161552316.0,"Imhoe-myeon, Jindo, South Jeolla Province, Sou...","4 guests,8 bathrooms","Kitchen,Wifi,Free parking on premises,Private ...",...,4288,South Korea,8,0,4,0,0,0,3 00 pm - 11 00 pm,11 00 am
12801,12801,29975283,Bubble Hotel Ubud with Bathtub under the Sky,4.67,6,Martha,118954227.0,"Gianyar, Indonesia","2 guests,1 bedroom,1 bed,Toilet with sink","Wifi,Free on-street parking,Air conditioning,G...",...,15200,Indonesia,0,1,2,1,1,0,3 00 pm - 10 00 pm,12 00 pm
12802,12802,32977697,Paradise Eco Hub,4.67,3,Silas,175214568.0,"Kabale, Uganda","2 guests,1 bedroom,2 beds,1 private bathroom","Wifi,Breakfast,Long-term stays allowed,Unavail...",...,9103,Uganda,1,2,2,0,1,0,After 3 00 pm,NaN
12803,12803,8006146,WisDOME - Mentigi Bay Village - Gilis - Lombok,4.86,7,Cempaka,718423.0,"Gunung Sari, Nusa Tenggara Barat, Indonesia","8 guests,2 bedrooms,4 beds,2.5 bathrooms","Kitchen,Wifi,Dedicated workspace,Free parking ...",...,42262,Indonesia,2,4,8,0,2,0,Flexible,12 00 pm
12804,12804,40547903,Enjoy Vitamin SEA! Ocean Front! [Ocean's Seven],4.85,13,Achy,246470880.0,"Uruma, Okinawa, Japan","5 guests,1 bedroom,2 beds,1 bathroom","Sea view,Beach access Beachfront,Kitchen,Wif...",...,9909,Japan,1,2,5,0,1,0,After 4 00 pm,11 00 am