# Questions

In [ ]:
marks = 23
name = 'Harsh'

print('Hi',name,"your marks is",marks)
print(f"Hi {name}, your marks is {marks}")

Hi Harsh your marks is 23
Hi Harsh, your marks is 23

#### Q) Find the Volume of a cylinder

In [ ]:
pi = 3.14
r = float(input('Give r '))
h = float(input('Give  '))

vol = (pi*(r**2)*h)
print(f"The Vol of Cylinder is {vol}")

Give r 34
Give  6
The Vol of Cylinder is 21779.04

#### Q) Find Compound Interest

In [ ]:
p = float(input('Give p '))
r = float(input('Give r '))
n = float(input('Give n '))
t = float(input('Give t '))

CI = p * (1+r/n)**(n*t)

print(f'The Compound Interest is {CI}')

Give p 1200
Give r 7
Give n 1
Give t 2
The Compound Interest is 76800.0

In [ ]:
## Comparison Operator

'''
>
<
>=
<=
!=
=
==

'''

a = 10
b = 12

print(a == b)

False

In [ ]:
## Logical Operator

'''
AND
OR
NOT
'''

print((12>b) or (7<=a))

True

# Conditional

In [ ]:
age = 2

if age >= 18:
  print('Eligible')
elif age < 18:
  print('H')
else:
  print('Not Eligible')

H

#### Take age from the user

In [ ]:
# [20-100] - Adult
# [13 - 19] - Teenager
# [0 - 12] - Child
# anything else is invalid age

In [ ]:
age = int(input('Give age '))

if age >= 20 and age <= 100:
  print('Adult')
elif age >= 13:
  print('Teenager')
elif age >= 0:
  print('Child')
else:
  print('Invalid')

Give age 102
Teenager

In [ ]:
if True:
  print('Hi')
  if False:
    print('Hey')
  else:
    print('Hello')
    if False:
      print('Yo')
    else:
      print('H')
  print('A')

Hi
Hello
H

In [ ]:
a = 12
b = 10

if (a>10 or a<12):
  if(b>7 or a<2):
    print('H')
    if(b>2 and a > b):
      print('Hey')
    else:
      print('hi')

H
Hey

#### Q) Check if the number is +ve, if +ve check if it is odd or even else write -ve

In [ ]:
num = int(input('Give n '))

if num > 0:
  print('The num is +ve')
  if num % 2 == 0:
    print('Even')
  else:
    print('Odd')
else:
  print('-ve')

Give n 23
The num is +ve
Odd

#### Q) Check if the number is divisible by 2 and 5 both

In [ ]:
# [Divisible by 2]
# [Divisible by 5]
# [Divisible by both 2 and 5]
# [Divisible by none]

In [ ]:
num = int(input('Give Number '))

if num%2 == 0:
  if num % 5 == 0:
    print('Divisble by both')
  else:
    print('Divisible by 2 and not by 5')

elif num % 5 == 0:
  print('Divisible by 5 not by 2')

else:
  print('Divisible by none')

Give Number 13
Divisible by none

## Check if the number is divisible by 3 and 7

In [1]:
n = int(input('GIve n '))

if n%3 == 0:
  if n%7 == 0:
    print('Divisible by both')
  else:
    print('Divisible by 3 not 7')
elif n%7 == 0:
  print('Divisible by 7 and not 3')
else:
  print('Divisible by none')

GIve n12
Divisible by 3 not 7

## Report Card Generator

In [ ]:
'''
90 - 100 -A
80 - 89 - B
70 - 79 - C
60 - 69 - D
50 - 59 - E

else F
'''

In [3]:
name = input('Give Name ')
marks = int(input('Give Marks '))

if marks >= 90 and marks <= 100:
  grade = 'A'
elif marks >= 80 and marks < 90 :
  grade = 'b'
elif marks >= 70 and marks < 80 :
  grade = 'c'
elif marks >= 60 and marks < 70 :
  grade = 'd'
elif marks >= 50 and marks < 60 :
  grade = 'e'
else:
  grade = 'F'

print(f"Hi {name}, your marks are {marks} and your grade is {grade}")

Give Name harsh
Give Marks 88
Hi harsh, your marks are 88 and your grade is b

In [5]:
name = input('Give Name ')
marks = int(input('Give Marks '))

if marks <= 100:
  if marks >= 90:
    grade = 'A'
  elif marks >= 80:
    grade = 'b'
  elif marks >= 70:
    grade = 'c'
  elif marks >= 60:
    grade = 'd'
  elif marks >= 50:
    grade = 'e'
  else:
    grade = 'F'

print(f"Hi {name}, your marks are {marks} and your grade is {grade}")

Give Name Harsh
Give Marks 120
Invalid Marks
Hi Harsh, your marks are 120 and your grade is c

## Simple Calculator

In [8]:
num1 = float(input('GIve Num1 '))
num2 = float(input('GIve Num2 '))
operator = input('+,-,*,/')

if operator == "+":
  result = num1 + num2
elif operator == "-":
  result = num1 - num2
elif operator == "*":
  result = num1 * num2
elif operator == "/":
  if num2 == 0:
    print('Invlid OPeration')
  else:
    result = num1 / num2
else:
  print('Invalid OPerator')

print(f"The result is {result}")

GIve Num1 23
GIve Num2 0
+,-,*,//
Invlid OPeration
The result is 540.0

## Login System

In [11]:
stored_us = 'admin'
stored_pass = 'pass'

u = input('Give username ')
pas = input('GIve Pass')

if u == stored_us:
  if pas == stored_pass:
    print('Login Successful!')
  else:
    print('Invalid Pass')
else:
  print('Invalid Username')

Give username asd
GIve Passfd
Invalid Username

## Employee Bonus Calculator

In [12]:
name = input('GIve name')
yrs = int(input('Give yrs'))
score = float(input('Give score'))
salary = float(input('GIve salary'))

if score > 4.5 and score < 5:
  if yrs > 10:
    bonus = 20
  elif yrs > 5:
    bonus = 10
  else:
    bonus = 2

elif score >= 3.5 and score < 4.5:
  if yrs > 10:
    bonus = 10
  elif yrs > 5:
    bonus = 5
  else:
    bonus = 0

else:
  bonus = 0

new_salary = salary + (bonus*salary)/100

print(f"Hi {name}, your score is {score} and your new salary is {new_salary}")

GIve nameHarsh
Give yrs11
Give score4.6
GIve salary400000
Hi Harsh, your score is 4.6 and your new salary is 480000.0

# Loops

In [13]:
range(5)

range(0, 5)

In [14]:
for i in range(5):
  print(i)

0
1
2
3
4

In [15]:
for i in range(1,5):
  print(i)

1
2
3
4

In [16]:
for i in range(1,5,2):
  print(i)

1
3