In [ ]:
print("Hello")

Hello

In [ ]:
print(123)

123

In [ ]:
print(type(True))

<class 'bool'>

## Variables

In [ ]:
a = 12

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
_1 = 12
print(_1)

12

In [ ]:
a = 'Harsh'

In [ ]:
print(a)

Harsh

In [ ]:
_a_12 = "harsh"

In [ ]:
name = 'Vikas'
age = 25

# print('Hey',name,"your age is",age)
print(f"Hey {name} your age is {age}")

Hey Vikas your age is 25

In [ ]:
a = 'Hey'
b = 23
print(a, "your age is",b)
print(f"hi how are you {a} your age is {b}")

Hey your age is 23
hi how are you Hey your age is 23

In [ ]:
name = input("Hey, Give me your name ?")
age = input('Hey, Give me your age')

print(f"Hey {name} your age is {age}")

Hey, Give me your name ?hsaod
Hey, Give me your age34
Hey hsaod your age is 34

In [ ]:
## Type Casting

a = 10
print(type(a))
a = str(a)
print(type(a))

<class 'int'>
<class 'str'>

In [ ]:
a = 'harsh'
a = int(a)
print(type(a))

ValueError: invalid literal for int() with base 10: 'harsh'

In [ ]:
## Find Simple Interest

name = input('GIve name ')
p = int(input('Give p '))
r = int(input('Give r '))
t = int(input('Give t '))

SI = (p*r*t)/100


print(f"Hi {name} your SI is {SI}")

GIve name iasd
Give p 2356
Give r 3
Give t 5
Hi iasd your SI is 353.4

In [ ]:
## Find Volume of Cylinder

In [ ]:
## Find Compound Interest

p = int(input('Give p '))
r = int(input('Give r '))
n = int(input('Give n'))
t = int(input('Give t '))

CI = p*((1+r/n))**(n*t)

print(CI)

Give p 34
Give r 3
Give n4
Give t 5
2467401.876964512

In [ ]:
print('Harsh'+str(5))

Harsh5

# Conditional Statements

In [ ]:
age = 12

if age>=18:
  print('Eligible')
else:
  print('NE')

NE

In [ ]:
if True:
  print('Hey')

Hey

In [ ]:
if True and False:
  print('Hey')
else:
  print('Hi')

In [ ]:
if False:
  print('Hi')

In [ ]:
if True and True:
  print('Hi')
  if True and (True or False):
    print('Hello')
    if True:
      print("Yo")
    else:
      print('H')
  else:
    print('1')

Hi
Hello
Yo

In [ ]:
age = 20

if age >= 18:
  print('El')
elif age < 18 and age > 0:
  print('minor')
else:
  print('invalid')

El

In [ ]:
# [18 to 100] -> Eligible
# [13 - 17] -> Minor
# [1 - 12] -> Child
# else -> Invalid age

In [ ]:
age = 11

if age >= 18 and age < 100:
  print('El')
elif age >= 13 and age <= 17:
  print('Minor')
elif age > 1 and age <= 12:
  print('Child')
else:
  print("invalid ")

Child

In [ ]:
age = -1

if age < 0:
  print('Invalid')

elif age < 100:
  if age >= 18:
    print('El')
  elif age >= 13:
    print('Minor')
  elif age >= 0:
    print('Child')

else:
  print('Invalid')

## Find if the number taken from user is odd or even

In [ ]:
num = 12

if num % 2 == 0:
  print('Even')
else:
  print('Odd')

Even

## FInd if a number is +ve or -ve, if it is +ve then tell me if it is odd or even

In [ ]:
num = 45

if num >= 0:
  print('Number is +ve')
  if num % 2 == 0:
    print('Even')
  else:
    print('Odd')
else:
  print('-ve')

Number is +ve
Odd

## Login System

In [ ]:
stored_user = 'Admin12'
stored_pass = 'abc@123#'

us = input('Give username')
pas = input('Give Pass')

if us == stored_user:
  if pas == stored_pass:
    print('Login Successful')
  else:
    print("Incorrect Passward")
else:
  print('Incorrect User')

Give usernamef4
Give Passfd
Incorrect User

## Find if the number is divisible by 3 and 5

## Create Simple Calculator

In [ ]:
num1 = int(input('Give n1 '))
num2 = int(input('Give n2 '))
o = input("Give +,-,/,*")

if o == "+":
  print(num1 + num2)
elif o == '-':
  print(num1 - num2)
elif o == '*':
  print(num1 * num2)
elif o == '/':
  if num2 == 0:
    print("Invalid")
  else:
    print(num1/num2)
else:
  print('Invalid Operator')

Give n1 456
Give n2 0
Give +,-,/,*/
Invalid

## Report Card Generator

In [ ]:
'''
100 - 90 -> a
80 - 89 -> b
70 - 79 -> c
d
fail

'''

In [ ]:
number = int(input("enter the marks"))
if(number<100 and number>=90):
  print("you have secured a grade A")
elif(number<90 and number>=80):
  print("you have secured a grade B")
elif(number<80 and number>=70):
  print("you have secured a grade C")
elif(number<70 and number>=60):
  print("you have secured a grade D")
else:
  print('Fail')

enter the marks33
Fail

In [ ]:
'''
Employee Bonus Calculator

(salary)
(rating)
(yrs of exp)

(5 - 4) ->
# Years of Experince ->
-> > 10 yrs -> 30% Bonus
-> (5 to 10) -> 20% Bonus
-> Less than 5 -> 10% Bonus

(less than 4) ->
# Years of Experince ->
-> > 10 yrs -> 20% Bonus
-> (5 to 10) -> 10% Bonus
-> Less than 5 -> 5% Bonus


(old salary, bonus % and new salary)

'''

In [ ]:
salary = 20000
yrs = 7
rating = 4.2

if rating > 4:
  if yrs > 10:
    b = 30
  elif yrs > 5 and yrs < 10:
    b = 20
  elif yrs < 5:
    b = 10

elif rating < 4:
  if yrs > 10:
    b = 20
  elif yrs > 5 and yrs < 10:
    b = 10
  elif yrs < 5:
    b = 5

new_salary = salary + (b*salary)/100

print(f"Hi your salary was {salary} bonus is {b} new salary is {new_salary}")

Hi your salary was 20000 bonus is 20 new salary is 24000.0

# Loops

In [ ]:
range(5)

range(0, 5)

In [ ]:
range(20)

range(0, 20)

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range(2,12,3):
  print(i)

2
5
8
11

In [ ]:
for i in range(5,55,5):
  print(i)

5
10
15
20
25
30
35
40
45
50

In [ ]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
## Q)

num ->

In [ ]:
num = int(input("GIve number"))

for i in range(10,0,-1):
  print(f"{num} x {i} = {num*i}")

GIve number5
5 x 10 = 50
5 x 9 = 45
5 x 8 = 40
5 x 7 = 35
5 x 6 = 30
5 x 5 = 25
5 x 4 = 20
5 x 3 = 15
5 x 2 = 10
5 x 1 = 5

#### Q) Find the numbers between 1 and 200 that are divisible by 3 and 5

In [ ]:
for i in range(1,201):
  if (i % 3 == 0) and (i % 5 == 0):
    print(i)

15
30
45
60
75
90
105
120
135
150
165
180
195

#### Q) Count the number of values between 1 and 10000 that are divisible by 3, 5 and 7

In [ ]:
count = 0

for i in range(1,10001):
  if (i % 3 == 0) and (i % 5 == 0) and (i % 7 == 0):
    count = count + 1
    # count += 1
print(count)

95

#### Q) FInd the sum of first n natural numbers

In [ ]:
n = 10
sum = 0

for i in range(1,n+1):
  sum = sum + i

print(sum)

55

#### Q) Find the first 10 numbers between 1 and 10000 that are divisible by 3,5 and 7

In [ ]:
count = 0
for i in range(1,10001):
  if (i % 3 == 0) and (i % 5 == 0) and (i % 7 == 0):
    print(i)
    count = count + 1
    if count == 10:
      break

105
210
315
420
525
630
735
840
945
1050

In [ ]:
name = 'Harshvardhan SIngh'

for i in name:
  print(i, end= "-")

H-a-r-s-h-v-a-r-d-h-a-n- -S-I-n-g-h-

#### From a given string tell me the count of vowels used

In [ ]:
s = input("Give sometihing ")
count = 0
for i in s:
  if (i == "a") or (i == 'e') or (i == 'i') or (i == 'o') or (i == 'u'):
    print(i)
    count = count + 1

print(count)

Give sometihing adfsga
a
a
2

In [ ]:
count = 0
s = input("Give sometihing ")
v = 'aeiouAEIOU'

for i in s:
  if i in v:
    count = count + 1

print(count)

Give sometihing fbbbb
0